    .wrapper_tooler .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }

    .wrapper_tooler .item-bg {
        width: 300px;
        height: 500px;
        position: absolute;
        top: 30px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: all 0.3s;
        left: -30px;
    }

    .wrapper_tooler .item-bg.active {
        left: 0;
        top: 0;
        opacity: 1;
    }

    .wrapper_tooler .news-slider {
        z-index: 2;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    @media screen and (max-width: 1300px) {
        .wrapper_tooler .news-slider {
            max-width: 1000px;
        }
    }

    @media screen and (max-width: 1150px) {
        .wrapper_tooler .news-slider {
            max-width: 800px;
        }
    }

    @media screen and (max-width: 800px) {
        .wrapper_tooler .news-slider {
            max-width: 600px;
        }
    }

    @media screen and (max-width: 600px) {
        .wrapper_tooler .news-slider {
            max-width: 350px;
        }
    }

    @media screen and (max-width: 576px) {
        .wrapper_tooler .news-slider {
            margin-top: 45px;
        }
    }

    .wrapper_tooler .news-slider__wrp {
        display: flex;
        align-items: flex-start;
        position: relative;
        z-index: 2;
    }

    .wrapper_tooler .news-slider__item {
        width: 400px;
        flex-shrink: 0;
    }

    @media screen and (max-width: 992px) {
        .wrapper_tooler .news-slider__item {
            width: 340px;
        }
    }

    .wrapper_tooler .news-slider__item.swiper-slide {
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
    }

    .wrapper_tooler .news-slider__item.swiper-slide-active,
    .wrapper_tooler .news-slider__item.swiper-slide-prev,
    .wrapper_tooler .news-slider__item.swiper-slide-next {
        opacity: 1;
        pointer-events: auto;
    }

    .wrapper_tooler .news-slider__ctr {
        position: relative;
        z-index: 12;
        margin-top: -40px;
    }

    .wrapper_tooler .news-slider__arrow {
        background: #fff;
        border: none;
        display: inline-flex;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        z-index: 12;
        cursor: pointer;
        outline: none !important;
    }

    .wrapper_tooler .news-slider__arrow:focus {
        outline: none !important;
    }

    .wrapper_tooler .news-slider__arrow .icon-font {
        display: inline-flex;
    }

    .wrapper_tooler .news-slider__arrow.news-slider-prev {
        left: 15px;
        transform: translateY(-50%);
    }

    .wrapper_tooler .news-slider__arrow.news-slider-next {
        right: 15px;
        transform: translateY(-50%);
    }

    .wrapper_tooler .news-slider__pagination {
        text-align: center;
        margin-top: 50px;
    }

    .wrapper_tooler .news-slider__pagination .swiper-pagination-bullet {
        width: 13px;
        height: 10px;
        display: inline-block;
        background: #C4C4C4;
        opacity: 0.2;
        margin: 0 5px;
        border-radius: 20px;
        transition: opacity 0.5s, background-color 0.5s, width 0.5s;
        transition-delay: 0.5s, 0.5s, 0s;
    }

    .wrapper_tooler .news-slider__pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background: #6c6c6c;
        width: 100px;
        transition-delay: 0s;
    }

    @media screen and (max-width: 576px) {
        .wrapper_tooler .news-slider__pagination .swiper-pagination-bullet-active {
            width: 70px;
        }
    }

    .wrapper_tooler .news__item {
        padding: 40px;
        color: #939393;
        border-radius: 10px;
        display: block;
        transition: all 0.3s;
    }

    @media screen and (min-width: 800px) {
        .wrapper_tooler .news__item:hover {
            color: #222222;
            transition-delay: 0.1s;
        }

        .wrapper_tooler .news__item:hover .news-date,
        .wrapper_tooler .news__item:hover .news__title,
        .wrapper_tooler .news__item:hover .news__txt {
            opacity: 1;
            transition-delay: 0.1s;
        }

        .wrapper_tooler .news__item:hover .news__img {
            box-shadow: none;
        }
    }

    .wrapper_tooler .news__item.active {
        color: #222222;
    }

    .wrapper_tooler .news__item.active .news-date,
    .wrapper_tooler .news__item.active .news__title,
    .wrapper_tooler .news__item.active .news__txt {
        opacity: 1;
    }

    .wrapper_tooler .news__item.active .news__img {
        box-shadow: none;
    }

    @media screen and (max-width: 992px) {
        .wrapper_tooler .news__item {
            padding: 30px;
        }
    }

    @media screen and (max-width: 576px) {
        .wrapper_tooler .news__item {
            padding: 20px;
        }
    }

    .wrapper_tooler .news-date {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid;
        display: inline-block;
        opacity: 0.7;
        transition: opacity 0.3s;
    }

    @media screen and (max-width: 576px) {
        .wrapper_tooler .news-date {
            margin-bottom: 10px;
            display: inline-flex;
            align-items: center;
            padding-bottom: 0;
        }
    }

    .wrapper_tooler .news-date__title {
        display: block;
        font-size: 32px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    @media screen and (max-width: 576px) {
        .wrapper_tooler .news-date__title {
            margin-right: 10px;
        }
    }

    .wrapper_tooler .news-date__txt {
        font-size: 16px;
    }

    .wrapper_tooler .news__title {
        font-size: 25px;
        font-weight: 500;
        opacity: 0.7;
        margin-top: 10px;
        margin-bottom: 15px;
        transition: opacity 0.3s;
        height: 50px;
    }

    @media screen and (max-width: 576px) {
        .wrapper_tooler .news__title {
            font-size: 22px;
            margin-bottom: 10px;
        }
    }

    .wrapper_tooler .news__txt {
        margin: 10px 0;
        line-height: 1.6em;
        font-size: 15px;
        opacity: 0.7;
        transition: opacity 0.3s;
    }

    .wrapper_tooler .news__img {
        border-radius: 10px;
        box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
        height: 200px;
        margin-top: 30px;
        width: 100%;
        transition: all 0.3s;
        transform-origin: 0% 0%;
    }

    @media screen and (max-width: 576px) {
        .wrapper_tooler .news__img {
            height: 180px;
            margin-top: 20px;
        }
    }

    .wrapper_tooler .news__img img {
        max-width: 100%;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        max-height: 210px;
        object-fit: cover
    }

    .wrapper_tooler .news-slider__item {
        width: 100%; /* Устанавливаем ширину на 100% для мобильных устройств */
        max-width: 400px; /* Ограничиваем максимальную ширину для слайдов */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; /* Центрируем слайды */
    }



    .wrapper_tooler .news__img {
        width: 100%; /* Занимаем всю ширину контейнера */
        height: auto; /* Убираем фиксированную высоту, чтобы изображение сохраняло пропорции */
        object-fit: cover; /* Масштабируем изображение по контейнеру */
    }



    @media screen and (max-width: 576px) {
        .wrapper_tooler .news-slider__item {
            max-width: 300px; /* Ограничиваем ширину на мобильных */
        }

        .wrapper_tooler .item-bg {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: none;
        }
    }


@media screen and (max-width: 576px) {
    .wrapper_tooler .news-slider {
        max-width: 100%;
        padding: 0 12px;
    }

    .wrapper_tooler .news-slider__arrow {
        width: 40px;
        height: 40px;
    }

    .wrapper_tooler .news-slider__arrow.news-slider-prev {
        left: 4px;
    }

    .wrapper_tooler .news-slider__arrow.news-slider-next {
        right: 4px;
    }

    .wrapper_tooler .news__title {
        height: auto;
        min-height: 48px;
        font-size: 18px;
    }
}
