@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

.main_kamin_gov {
    position: relative;
    margin: 0 auto;
    column-gap: 3rem;
    padding-block: min(20vh, 3rem);
    margin: 0 120px;
    min-height: 1000px;
    height: auto;
}

.main_kamin_gov .bg {
    position: fixed;
    top: -4rem;
    left: -12rem;
    z-index: -1;
    opacity: 0;
}

.main_kamin_gov .bg2 {
    position: fixed;
    bottom: -2rem;
    right: -3rem;
    z-index: -1;
    width: 9.375rem;
    opacity: 0;
    padding-top: 100px;
}

.main_kamin_gov > div span {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    color: #717171;
}

.main_kamin_gov > div h1 {
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
    background-color: #000000;
    background-image: linear-gradient(257deg, #000000, #000000);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_kamin_gov > div hr {
    display: block;
    background: rgb(226, 180, 59);
    height: 1px;
    width: 100%;
    max-width: 350px;
    border: none;
    margin: 1.125rem 0 1.875rem 0;
}

.main_kamin_gov > div p {
    line-height: 1.6;
}

.main_kamin_gov a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
    font-weight: 500;
    background: #fff;
    border-radius: 3.125rem;
    transition: 0.3s ease-in-out;
}

.main_kamin_gov > div > a {
    border: 2px solid #c2c2c2;
    margin-top: 2.188rem;
    padding: 0.625rem 1.875rem;
}

.main_kamin_gov > div > a:hover {
    border: 0.125rem solid #005baa;
    color: #005baa;
}

.main_kamin_gov .swiper {
    width: 100%;
    padding-top: 3.125rem;
}

.main_kamin_gov .swiper-pagination-bullet,
.main_kamin_gov .swiper-pagination-bullet-active {
    background: #fff;
}

.main_kamin_gov .swiper-pagination {
    bottom: 1.25rem !important;
}

.main_kamin_gov .swiper-slide {
    width: 18.75rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}

.main_kamin_gov .swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    padding: 0 0 0 1.563rem;
    text-transform: uppercase;
}

.main_kamin_gov .swiper-slide p {
    color: #dadada;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 0 1.563rem;
    line-height: 1.6;
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main_kamin_gov .swiper-slide a {
    margin: 1.25rem 1.563rem 3.438rem 1.563rem;
    padding: 0.438em 1.875rem;
    font-size: 0.9rem;
}

.main_kamin_gov .swiper-slide a:hover {
    color: #005baa;
}

.main_kamin_gov .swiper-slide div {
    display: none;
    opacity: 0;
    padding-bottom: 0.625rem;
}

.main_kamin_gov .swiper-slide-active div {
    display: block;
    opacity: 1;
}

.main_kamin_gov .swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../../img/index/_index_galerea_kamin/frame_272.png") no-repeat 50% 50% / cover;
}

.main_kamin_gov .swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../../img/index/_index_galerea_kamin/frame_271.png") no-repeat 50% 50% / cover;
}

.main_kamin_gov .swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../../img/index/_index_galerea_kamin/frame_268.png") no-repeat 50% 50% / cover;
}

.main_kamin_gov .swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../../img/index/_index_galerea_kamin/frame_273.png") no-repeat 50% 50% / cover;
}

.main_kamin_gov .swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../../img/index/_index_galerea_kamin/frame_269.png") no-repeat 50% 50% / cover;
}

.main_kamin_gov .swiper-slide--five2 {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("../../img/index/_index_galerea_kamin/frame_270.png") no-repeat 50% 50% / cover;
}

.main_kamin_gov .swiper-3d .swiper-slide-shadow-left,
.main_kamin_gov .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.main_kamin_gov .fgrtg {
    width: 440px;
    max-width: 100%;
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
}

.main_kamin_gov .fgvbhj {
    width: 100%;
    max-width: 660px;
    font-size: 24px;
    text-align: justify;

}
.main_kamin_gov .hidden {
    opacity: 0; /* Початкова непрозорість */
    transform: translateX(-50px); /* Зсув вниз */
    transition: opacity 2s ease, transform 2s ease; /* Анімаційні переходи */
}

.main_kamin_gov .visible {
    opacity: 1; /* Фінальна непрозорість */
    transform: translateY(0); /* Скінчений зсув */
}

@media screen and (min-width: 48rem) {
    .main_kamin_gov {
        display: flex;
        align-items: center;
    }

    .main_kamin_gov .bg,
    .main_kamin_gov .bg2 {
        opacity: 0.1;
    }
}

@media screen and (min-width: 93.75rem) {
    .main_kamin_gov .swiper {
        width: 85%;
        max-width: 860px;
    }
}

@media (max-width: 1500px) {
    .main_kamin_gov .fgvbhj {
        font-size: 20px;
    }
    .main_kamin_gov{
        margin: 0 50px 0 50px;
    }
    .main_kamin_gov .swiper{
        max-width: 850px;
    }
}

@media (max-width: 1040px) {
    .main_kamin_gov .fgvbhj {
        font-size: 20px;
    }

    .main_kamin_gov {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
}

@media (max-width: 500px) {
    .main_kamin_gov .swiper-slide{
        height: 30rem;
    }
    .main_kamin_gov .fgrtg{
        font-size: 28px;
        line-height: 39px;
    }
    .main_kamin_gov .fgvbhj{
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .main_kamin_gov {
        margin: 0 16px;
        padding-block: 40px;
    }

    .main_kamin_gov .swiper {
        padding-top: 1.5rem;
    }

    .main_kamin_gov .swiper-slide {
        width: 85vw;
        max-width: 320px;
    }
}
