.background_form_f {
    padding: 0 16px;
    background-image: url('../../img/index/Feedback_form/Feedback_form_fon.png'); /* Замість 'your-background-image.jpg' вставте ваш шлях до зображення */
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_form_f .overlay_f {
    background-color: rgba(0, 0, 0, 0.7); /* Напівпрозорий чорний фон */
    padding: 30px;
    max-width: 400px; /* Максимальна ширина блоку */
    width: 100%; /* Ширина блоку адаптивна */
}

.background_form_f .form-container_f {
    display: flex;
    flex-direction: column;
}

.background_form_f .title_f {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.background_form_f .description_f {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.background_form_f input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.background_form_f input {
    width: 100%; /* Ширина 100% для адаптивності */
}

.background_form_f textarea {
    height: 100px; /* Висота для текстового поля */
}

.background_form_f button {
    background-color: rgb(226, 180, 59); /* Зелений колір для кнопки */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.background_form_f button:hover {
    background-color: #000000; /* Темніший зелений при наведенні */
}

/* Адаптивність */
@media (max-width: 600px) {
    .background_form_f .overlay_f {
        padding: 20px; /* Зменшити відступи на менших екранах */
    }

    .background_form_f .title_f {
        font-size: 24px; /* Зменшити шрифт заголовка */
    }

    .background_form_f .description_f {
        font-size: 14px; /* Зменшити шрифт опису */
    }

    .background_form_f button {
        font-size: 14px; /* Зменшити шрифт кнопки */
    }
}
