header img {
    width: 100%;
    padding: 60px 120px 60px 120px;
}
.header_reklama_phone{
    width: 100%;
    display: none;
}
@media (max-width: 1500px) {
    header img {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 800px) {
    .header_reklama {
        display: none;
    }

    .header_reklama_phone {
        display: block;
    }
}