.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: "Montserrat", sans-serif;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    position: fixed; /* Фіксує панель вгорі */
    top: 0; /* Панель прикріплюється до самого верху екрану */
    left: 0;
    z-index: 999; /* Високий рівень, щоб панель залишалася над іншими елементами */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Тінь під панеллю */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left-hide {
    display: flex;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.contact-item {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.navbar_img {
    margin-right: 8px;
}

.contact-item i {
    margin-right: 5px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 5px;

}

.navbar-right a:hover {
    text-decoration: underline;
}

.language-switcher {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

@media (max-width: 1500px) {
    .navbar-container {
        padding: 0 30px 0 30px;
    }
}

@media (max-width: 1300px) {
    .navbar-right {
        display: none;
    }
}

@media (max-width: 800px) {
    .navbar-left-hide {
        flex-direction: column;
    }

    .navbar-left-hide a{
        margin-bottom: 3px;
    }
}