/* RESET */


body.overflow {
    overflow: hidden;
}

/* BURGER */
.burger {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 13px;
    right: 20px;
    border-radius: 4px;
    z-index: 10;
}

.burger span {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
}

.burger span:before,
.burger span:after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.burger span:before {
    top: -10px;
    left: 0;
}

.burger span:after {
    top: 10px;
    left: 0;
}

.burger.clicked span {
    background-color: transparent;
}

.burger.clicked span:before, .burger.clicked span:after {
    background-color: #ffffff;
}

.burger.clicked span {
    background-color: transparent;
}

.burger.clicked span:before,
.burger.clicked span:after {
    background-color: #ffffff;
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transition: all 0.3s ease;

    /* Хрестик */
}

.burger.clicked span:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.burger.clicked span:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.burger:hover {
    cursor: pointer;
}

/* NAV */
.navbar_burger {
    background-color: #2a2a2a;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 515px;
    width: 100%;
    padding: 100px 40px 60px 40px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform .55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.burger {
    display: none;
}


.navbar_burger.show {
    transform: translateX(0);
}

.navbar_burger.show ul.main li {
    transform: translateX(0);
    opacity: 1;
}

.navbar_burger.show ul.main li:nth-child(1) {
    transition-delay: 0.15s;
}

.navbar_burger.show ul.main li:nth-child(2) {
    transition-delay: 0.3s;
}

.navbar_burger.show ul.main li:nth-child(3) {
    transition-delay: 0.45s;
}

.navbar_burger.show ul.main li:nth-child(4) {
    transition-delay: 0.6s;
}

.navbar_burger.show ul.main li:nth-child(5) {
    transition-delay: 0.75s;
}

.navbar_burger.show ul.main li:nth-child(6) {
    transition-delay: 0.9s;
}

.navbar_burger.show ul.main li:nth-child(7) {
    transition-delay: 1.05s;
}

.navbar_burger.show ul.main li:nth-child(8) {
    transition-delay: 1.2s;
}

.navbar_burger.show ul.main li:nth-child(9) {
    transition-delay: 1.35s;
}

.navbar_burger.show .about, nav.show .social, nav.show ul.sub {
    transform: translateY(0);
    opacity: 1;
    transition-delay: .85s;
}

/*@media (min-width: 667px) {*/
/*    .navbar_burger {*/
/*        padding: 120px 90px 70px 90px;*/
/*    }*/
/*}*/

.navbar_burger ul.main {
    list-style-type: none;
}

.navbar_burger ul.main li {
    margin-bottom: 20px;
    transform: translateX(40px);
    opacity: 0;
    transition: all .3s ease;
}

.navbar_burger ul.main li:last-of-type {
    margin-bottom: 0;
}

.navbar_burger ul.main li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: block;
    font-weight: 600;
    padding: 10px 0;
    transition: all .3s ease;
}

.navbar_burger ul.main li a span {
    color: #E2B43B;
}

.navbar_burger ul.main li a:hover {
    color: #E2B43B;
}

.navbar_burger .about {
    margin-top: 40px;
    transform: translateY(30px);
    opacity: 0;
    transition: all .4s ease;
}

.navbar_burger .about p {
    color: #ffffff;
    font-family: 'Spectral', serif;
    font-size: 1.05rem;
    letter-spacing: 0.5px;
    line-height: 170%;
}

.navbar_burger .social {
    margin-top: 40px;
    position: relative;
    padding-bottom: 30px;
    transform: translateY(30px);
    opacity: 0;
    transition: all .4s ease;
}

.navbar_burger .social:after {
    content: "";
    width: 230px;
    height: 2px;
    background-color: #b7ac7f;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar_burger .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.navbar_burger .social a:last-of-type {
    margin-right: 0;
}

.navbar_burger .social a:hover svg path, .social a:hover svg circle {
    fill: #b7ac7f;
}

.navbar_burger .social svg {
    width: 100%;
    height: 100%;
}

.navbar_burger .social svg path, .social svg circle {
    fill: #ffffff;
    transition: all .3s ease;
}

.navbar_burger ul.sub {
    list-style-type: none;
    margin-top: 40px;
    transform: translateY(30px);
    opacity: 0;
    transition: all .4s ease;
}

.navbar_burger ul.sub li {
    margin-bottom: 10px;
}

.navbar_burger ul.sub li:last-of-type {
    margin-bottom: 0;
}

.navbar_burger ul.sub li a {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: all .3s ease;
}

.navbar_burger ul.sub li a:hover {
    color: #b7ac7f;
}

/* OVERLAY */
.navbar_burger .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    background-color: #b7ac7f;
    opacity: 0;
    visibility: hidden;
}

.navbar_burger .overlay.show {
    opacity: 0.8;
    visibility: visible;
}

@media (max-width: 1250px) {
    .burger {
        display: block;
    }
}

/* NAV */
