{% load static %}
<section class="video-block_index">
    <div class="video-overlay">
        <video autoplay muted loop>
            <source src="{% static 'mysite/img/content/video/v1.mp4' %}" type="video/mp4">
            Twoja przeglądarka nie obsługuje tagu wideo.
        </video>
        <div class="video-content">
            <h2 class="video-title">GARANT - BUD</h2>
            <p class="video-description" style="margin-bottom: 30px">Firma GARANT - BUD jest zarejestrowana i działa z
                sukcesem w Polsce od 2017 roku. Specjalizujemy się w budowie domów jednorodzinnych, sprzedaży wyrobów
                granitowych zarówno z magazynu, jak i na zamówienie, zagospodarowaniu terenów z wykorzystaniem kamienia
                naturalnego, a także w produkcji i montażu konstrukcji metalowych.</p>
            <p class="video-description">GARANT - BUD jest wyłącznym partnerem i oficjalnym przedstawicielem firmy IMPEX
                GRANIT, która od ponad 18 lat zajmuje się produkcją wyrobów z granitu pochodzącego z ukraińskich złóż.
                Nasze doświadczenie w budownictwie, w połączeniu z wysokimi kwalifikacjami naszych partnerów, czyni nas
                rzetelnym i kompetentnym dostawcą rozwiązań budowlanych.</p>
        </div>
    </div>
</section>
