{% load static %}
<section class="main_kamin_gov">
    <div>
        <h1 class="fgrtg hidden">Kamień, który mówi językiem wieczności.</h1>
        <hr>
        <p class="fgvbhj hidden">Granit wyróżnia się swoją ekologiczną naturą, ponieważ jest to materiał naturalny,
            który nie zawiera
            sztucznych dodatków.</p>
        <p class="fgvbhj hidden">Charakteryzuje się doskonałą odpornością na zużycie i zachowuje swój pierwotny wygląd
            nawet przy długotrwałym
            użytkowaniu w trudnych warunkach.</p>
        <p class="fgvbhj hidden">Ponadto granit jest materiałem uniwersalnym, który nadaje się zarówno do użytku
            wewnętrznego, jak i
            zewnętrznego, co czyni go opłacalnym wyborem do wielu projektów budowlanych.</p>
    </div>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide--one">
                <div>
                    <h2>Granit</h2>
                    <p style="padding-bottom: 50px;">Wytrzymuje nawet 500 lat i jest odporny na zarysowania, uderzenia i
                        temperatury.</p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide--two">
                <div>
                    <h2>Marmur</h2>
                    <p style="padding-bottom: 50px;">Czas użytkowania ponad 100 lat, mniej odporny na zarysowania i
                        kwasy</p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide--three">
                <div>
                    <h2 style="width: 50px;">Aglomerat kwarcowy</h2>
                    <p style="padding-bottom: 50px;">Służy ponad 100 lat, odporny na zarysowania, uderzenia i
                        temperatury</p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide--four">
                <div>
                    <h2>Beton</h2>
                    <p style="padding-bottom: 50px;">Służy 50-100 lat, mniej estetyczny, ale wytrzymały</p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide--five">
                <div>
                    <h2 style="width: 50px;">Płytki ceramiczne</h2>
                    <p style="padding-bottom: 50px;">Służy 50-75 lat, odporny na wilgoć, ale może pękać</p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide--five2">
                <div>
                    <h2 style="width: 50px;">Drewno naturalne</h2>
                    <p style="padding-bottom: 50px;">Służy do 50 lat, mniej odporne na wilgoć i uszkodzenia</p>
                </div>
            </div>
        </div>

        <!-- Nawigacja Swiper -->
        <div class="swiper-pagination"></div>
    </div>
</section>

<!-- Dołączenie skryptu Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
    // Inicjalizacja pierwszego slidera
    const swiper1 = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        loop: true,
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elements = document.querySelectorAll(".fgrtg, .fgvbhj");

        function checkVisibility() {
            elements.forEach(function (element) {
                var rect = element.getBoundingClientRect();
                var windowHeight = (window.innerHeight || document.documentElement.clientHeight);

                // Sprawdzenie, czy element jest widoczny na ekranie
                if (rect.top <= windowHeight && rect.bottom >= 0) {
                    element.classList.add("visible"); // Dodanie klasy do animacji
                } else {
                    element.classList.remove("visible"); // Usunięcie klasy, jeśli element nie jest widoczny
                }
            });
        }

        // Dodanie nasłuchiwacza zdarzeń przewijania
        window.addEventListener("scroll", checkVisibility);
        checkVisibility(); // Sprawdzanie od razu, na wypadek gdyby element był już widoczny
    });
</script>
