<section class="index_our_advantages">
    <div class="index_our_advantages_title">Nasze zalety</div>
    <div class="container max-w-5xl mx-auto px-8">
        <div class="card-wraper">
            <div class="background" id="background"></div>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Konsultacje i wsparcie ekspertów</h3>
                            <p>Oferujemy profesjonalne porady dotyczące wyboru kamienia i optymalnych rozwiązań dla każdego
                                projektu. Nasi specjaliści pomagają znaleźć najlepszą opcję do projektowania i montażu.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Indywidualne rozwiązania pod klucz</h3>
                            <p>Oferujemy kompleksową usługę — od pomiarów po montaż, aby proces był wygodny i komfortowy dla naszych klientów.
                                Twój projekt zostanie ukończony zgodnie z Twoimi potrzebami i oczekiwaniami.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Indywidualne oferty</h3>
                            <p>Oferujemy elastyczne warunki współpracy oraz spersonalizowane oferty handlowe dla każdego klienta, uwzględniając specyfikę projektu i budżet.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Odpowiedzialność ekologiczna</h3>
                            <p>Przestrzegamy rygorystycznych standardów ekologicznych podczas wydobycia i obróbki kamienia. Nasze materiały są ekologiczne i bezpieczne dla zdrowia.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Wsparcie techniczne</h3>
                            <p>Po zakupie zapewniamy klientom porady dotyczące pielęgnacji kamienia oraz możliwość renowacji. Nasi klienci mogą liczyć na długoterminowe wsparcie i pomoc.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Opinie zwrotne</h3>
                            <p>Szybko odpowiadamy na zapytania i zapewniamy dostęp do portfolio udanych projektów. Pomaga to klientom pewnie wybierać najlepsze rozwiązania do swoich obiektów.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var cards = document.querySelectorAll("a.card");
        var background = document.querySelector(".background");

        // Zapisz indeks ostatniej najechanej karty
        var lastHoveredCardIndex = localStorage.getItem("lastHoveredCardIndex") || 0;

        // Ustaw tło na ostatnią najechaną kartę domyślnie
        var cardRect = cards[lastHoveredCardIndex].getBoundingClientRect();
        var x = cardRect.left + window.scrollX + cardRect.width / 2;
        var y = cardRect.top + window.scrollY + cardRect.height / 2;

        background.style.width = cardRect.width + "px";
        background.style.height = cardRect.height + "px";
        background.style.transform = `translate(${x - cardRect.width / 2}px, ${
            y - cardRect.height / 2
        }px)`;
        background.style.opacity = "0"; // Ustaw przezroczystość na 0 przy załadowaniu strony

        cards.forEach(function (card, index) {
            card.addEventListener("mouseenter", function (e) {
                // Jeśli karta jest powiększona, przerywamy działanie efektu hover
                if (card.classList.contains("zoomed")) {
                    return;
                }

                var rect = card.getBoundingClientRect();
                x = rect.left + window.scrollX + rect.width / 2;
                y = rect.top + window.scrollY + rect.height / 2;

                background.style.width = rect.width + "px";
                background.style.height = rect.height + "px";
                background.style.transform = `translate(${x - rect.width / 2}px, ${
                    y - rect.height / 2
                }px)`;
                background.style.opacity = "1"; // Zmieniamy przezroczystość na 1, gdy karta jest najechana
                background.style.top = "0%";
                background.style.left = "0%";
                background.style.transformOrigin = "center";
                // Zapisz indeks najechanej karty
                localStorage.setItem("lastHoveredCardIndex", index);
            });

            card.addEventListener("mouseleave", function (e) {
                background.style.opacity = "0"; // Zmieniamy przezroczystość na 0, gdy myszka opuszcza kartę
                // Resetujemy rozmiar tła, gdy myszka opuszcza kartę
                background.style.width = "0px";
                background.style.height = "0px";
            });
        });
    });
</script>
