<section class="index_our_advantages">
    <div class="index_our_advantages_title">Наші переваги</div>
    <div class="container max-w-5xl mx-auto px-8">
        <div class="card-wraper">
            <div class="background" id="background"></div>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Консультації та підтримка експертів</h3>
                            <p>Ми надаємо професійні поради щодо вибору каменю та оптимальних рішень для кожного проєкту.
                                Наші фахівці допомагають знайти найкращий варіант для проєктування і монтажу.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Індивідуальні рішення під ключ</h3>
                            <p>Ми пропонуємо комплексну послугу — від замірів до монтажу, щоб процес був зручним і
                                комфортним для наших клієнтів. Ваш проєкт буде виконано відповідно до ваших потреб і
                                очікувань.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Індивідуальні пропозиції</h3>
                            <p>Ми пропонуємо гнучкі умови співпраці та персоналізовані комерційні пропозиції для кожного
                                клієнта з урахуванням специфіки проєкту та бюджету.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Екологічна відповідальність</h3>
                            <p>Ми дотримуємося суворих екологічних стандартів під час видобутку та обробки каменю. Наші
                                матеріали екологічні та безпечні для здоров’я.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Технічна підтримка</h3>
                            <p>Після покупки ми надаємо клієнтам поради щодо догляду за каменем та можливість
                                реставрації. Наші клієнти можуть розраховувати на довгострокову підтримку та допомогу.</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)" class="card relative group block p-2 h-full w-full">
                <div class="card-main">
                    <div class="card-inner">
                        <div>
                            <h3>Зворотний зв’язок</h3>
                            <p>Ми швидко відповідаємо на запити й надаємо доступ до портфоліо успішних проєктів. Це
                                допомагає клієнтам упевнено обирати найкращі рішення для своїх об’єктів.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var cards = document.querySelectorAll("a.card");
        var background = document.querySelector(".background");

        // Зберегти індекс останньої картки, на яку навели курсор
        var lastHoveredCardIndex = localStorage.getItem("lastHoveredCardIndex") || 0;

        // Встановити фон на останню наведену картку за замовчуванням
        var cardRect = cards[lastHoveredCardIndex].getBoundingClientRect();
        var x = cardRect.left + window.scrollX + cardRect.width / 2;
        var y = cardRect.top + window.scrollY + cardRect.height / 2;

        background.style.width = cardRect.width + "px";
        background.style.height = cardRect.height + "px";
        background.style.transform = `translate(${x - cardRect.width / 2}px, ${
            y - cardRect.height / 2
        }px)`;
        background.style.opacity = "0"; // Встановити прозорість 0 при завантаженні сторінки

        cards.forEach(function (card, index) {
            card.addEventListener("mouseenter", function (e) {
                // Якщо картка збільшена, перериваємо дію ефекту наведення
                if (card.classList.contains("zoomed")) {
                    return;
                }

                var rect = card.getBoundingClientRect();
                x = rect.left + window.scrollX + rect.width / 2;
                y = rect.top + window.scrollY + rect.height / 2;

                background.style.width = rect.width + "px";
                background.style.height = rect.height + "px";
                background.style.transform = `translate(${x - rect.width / 2}px, ${
                    y - rect.height / 2
                }px)`;
                background.style.opacity = "1"; // Змінюємо прозорість на 1, коли курсор наведено
                background.style.top = "0%";
                background.style.left = "0%";
                background.style.transformOrigin = "center";
                // Зберегти індекс наведеної картки
                localStorage.setItem("lastHoveredCardIndex", index);
            });

            card.addEventListener("mouseleave", function (e) {
                background.style.opacity = "0"; // Змінюємо прозорість на 0, коли курсор покидає картку
                // Скидаємо розмір фону, коли курсор покидає картку
                background.style.width = "0px";
                background.style.height = "0px";
            });
        });
    });
</script>
