{% load static %}
<section class="Why_us">
    <div class="Why_us_title">Dlaczego my?</div>
    <div class="Why_us_block">
        <div class="Why_us_block_too error_dispay_img">
            <div class="Why_us_block_left">
                <div class="Why_us_block_text hidden">
                    <div class="Why_us_block_text_count">01</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Profesjonalizm i Doświadczenie</div>
                        <div class="Why_us_block_text_right_block_text">
                            Profesjonalizm i niezawodność – doświadczeni budowlańcy realizują projekty o dowolnym stopniu złożoności.
                        </div>
                    </div>
                </div>
                <div class="Why_us_block_text hidden">
                    <div class="Why_us_block_text_count">02</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Indywidualne Podejście</div>
                        <div class="Why_us_block_text_right_block_text">
                            Własna produkcja konstrukcji metalowych – produkujemy i montujemy konstrukcje metalowe dla różnych obiektów.
                        </div>
                    </div>
                </div>
                <div class="Why_us_block_text hidden">
                    <div class="Why_us_block_text_count">03</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Dokładność i Terminowość</div>
                        <div class="Why_us_block_text_right_block_text">
                             Własny magazyn wyrobów granitowych – oferujemy szeroki wybór wysokiej jakości wyrobów granitowych, dostępnych od ręki lub na zamówienie.
                        </div>
                    </div>
                </div>
                <div class="Why_us_block_text hidden">
                    <div class="Why_us_block_text_count">04</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Skuteczna Optymalizacja Kosztów</div>
                        <div class="Why_us_block_text_right_block_text">
                             Eksperci w zagospodarowaniu terenu – pracujemy z kamieniem naturalnym, tworząc trwałe i estetyczne rozwiązania.
                        </div>
                    </div>
                </div>
            </div>
            <div class="Why_us_block_right">
                <img src="{% static '/mysite/img/index/Why_us/2.png' %}" alt="Error_img" loading="lazy" decoding="async"/>
            </div>
        </div>
        <div class="Why_us_block_too error_dispay_img_2">
            <div class="Why_us_block_left">
                <img src="{% static '/mysite/img/index/Why_us/1.png' %}" alt="Error_img" loading="lazy" decoding="async"/>
            </div>
            <div class="Why_us_block_right">
                <div class="Why_us_block_text">
                    <div class="Why_us_block_text_count">05</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Nowoczesne Technologie</div>
                        <div class="Why_us_block_text_right_block_text">
                            Indywidualne podejście – dobieramy optymalne rozwiązania dla każdego projektu.
                        </div>
                    </div>
                </div>
                <div class="Why_us_block_text">
                    <div class="Why_us_block_text_count">06</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Szeroki Zakres Usług</div>
                        <div class="Why_us_block_text_right_block_text">
                            Odpowiedzialność i dotrzymywanie terminów – gwarantujemy wysoką jakość prac zgodnie z ustalonym harmonogramem.
                        </div>
                    </div>
                </div>
                <div class="Why_us_block_text">
                    <div class="Why_us_block_text_count">07</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Wsparcie i Doradztwo</div>
                        <div class="Why_us_block_text_right_block_text">
                            Jakość w przystępnej cenie – konkurencyjne ceny, elastyczny system rabatów i atrakcyjne promocje.
                        </div>
                    </div>
                </div>
{#                <div class="Why_us_block_text">#}
{#                    <div class="Why_us_block_text_count">08</div>#}
{#                    <div class="Why_us_block_text_right_block">#}
{#                        <div class="Why_us_block_text_right_block_title">Konkurencyjne Ceny</div>#}
{#                        <div class="Why_us_block_text_right_block_text">Oferujemy konkurencyjne ceny za wysokiej jakości usługi księgowe.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elements = document.querySelectorAll(".Why_us_block_text");

        function checkVisibility() {
            elements.forEach(function (element) {
                var rect = element.getBoundingClientRect();
                var windowHeight = (window.innerHeight || document.documentElement.clientHeight);

                // Sprawdzanie, czy element jest widoczny na ekranie
                if (rect.top <= windowHeight && rect.bottom >= 0) {
                    element.classList.add("visible"); // Dodaj klasę do animacji
                } else {
                    element.classList.remove("visible"); // Usuń klasę, jeśli element nie jest widoczny
                }
            });
        }

        // Dodaj nasłuchiwanie na zdarzenie scroll
        window.addEventListener("scroll", checkVisibility);
        checkVisibility(); // Sprawdź od razu, jeśli element jest już widoczny
    });
</script>
