{% load static %}
<section class="Why_us">
    <div class="Why_us_title">Чому ми?</div>
    <div class="Why_us_block">
        <div class="Why_us_block_too error_dispay_img">
            <div class="Why_us_block_left">
                <div class="Why_us_block_text hidden">
                    <div class="Why_us_block_text_count">01</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Професіоналізм і досвід</div>
                        <div class="Why_us_block_text_right_block_text">
                            Професіоналізм і надійність — досвідчені будівельники реалізують проєкти будь-якої складності.
                        </div>
                    </div>
                </div>
                <div class="Why_us_block_text hidden">
                    <div class="Why_us_block_text_count">02</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Індивідуальний підхід</div>
                        <div class="Why_us_block_text_right_block_text">
                            Власне виробництво металевих конструкцій — виготовляємо та монтуємо конструкції для різних об’єктів.
                        </div>
                    </div>
                </div>
                <div class="Why_us_block_text hidden">
                    <div class="Why_us_block_text_count">03</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Точність і своєчасність</div>
                        <div class="Why_us_block_text_right_block_text">
                             Власний склад гранітних виробів — пропонуємо широкий вибір якісних виробів зі складу або під замовлення.
                        </div>
                    </div>
                </div>
                <div class="Why_us_block_text hidden">
                    <div class="Why_us_block_text_count">04</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Ефективна оптимізація витрат</div>
                        <div class="Why_us_block_text_right_block_text">
                             Експерти з благоустрою територій — працюємо з натуральним каменем, створюючи довговічні та естетичні рішення.
                        </div>
                    </div>
                </div>
            </div>
            <div class="Why_us_block_right">
                <img src="{% static '/mysite/img/index/Why_us/2.png' %}" alt="Error_img"/>
            </div>
        </div>
        <div class="Why_us_block_too error_dispay_img_2">
            <div class="Why_us_block_left">
                <img src="{% static '/mysite/img/index/Why_us/1.png' %}" alt="Error_img"/>
            </div>
            <div class="Why_us_block_right">
                <div class="Why_us_block_text">
                    <div class="Why_us_block_text_count">05</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Сучасні технології</div>
                        <div class="Why_us_block_text_right_block_text">
                            Індивідуальний підхід — підбираємо оптимальні рішення для кожного проєкту.
                        </div>
                    </div>
                </div>
                <div class="Why_us_block_text">
                    <div class="Why_us_block_text_count">06</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Широкий спектр послуг</div>
                        <div class="Why_us_block_text_right_block_text">
                            Відповідальність і дотримання термінів — гарантуємо високу якість робіт згідно з погодженим графіком.
                        </div>
                    </div>
                </div>
                <div class="Why_us_block_text">
                    <div class="Why_us_block_text_count">07</div>
                    <div class="Why_us_block_text_right_block">
                        <div class="Why_us_block_text_right_block_title">Підтримка та консультування</div>
                        <div class="Why_us_block_text_right_block_text">
                            Якість за доступною ціною — конкурентні ціни, гнучка система знижок і вигідні пропозиції.
                        </div>
                    </div>
                </div>
{#                <div class="Why_us_block_text">#}
{#                    <div class="Why_us_block_text_count">08</div>#}
{#                    <div class="Why_us_block_text_right_block">#}
{#                        <div class="Why_us_block_text_right_block_title">Konkurencyjne Ceny</div>#}
{#                        <div class="Why_us_block_text_right_block_text">Пропонуємо конкурентні ціни за високоякісні послуги.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elements = document.querySelectorAll(".Why_us_block_text");

        function checkVisibility() {
            elements.forEach(function (element) {
                var rect = element.getBoundingClientRect();
                var windowHeight = (window.innerHeight || document.documentElement.clientHeight);

                // Sprawdzanie, czy element jest widoczny na ekranie
                if (rect.top <= windowHeight && rect.bottom >= 0) {
                    element.classList.add("visible"); // Додаємо клас для анімації
                } else {
                    element.classList.remove("visible"); // Прибираємо клас, якщо елемент не видимий
                }
            });
        }

        // Додаємо слухач події прокручування
        window.addEventListener("scroll", checkVisibility);
        checkVisibility(); // Перевіряємо одразу, якщо елемент вже видимий
    });
</script>
