{% load static %}
<section class="index_Examples_of_applications">
    <h1 class="owl_carousel_h1_title">Приклади застосування</h1>
    <!-- Carousel Container -->
    <div class="owl-carousel owl-theme">
        <div class="item">
            <img src="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_39.png' %}"
                 alt="Опис зображення 1">
            <a href="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_39.png' %}"
               data-lightbox="carousel"
               data-title="Зображення 1">
                <img class="overlay-image"
                     src="{% static '/mysite/img/index/_index_Examples_of_applications/path.png' %}"
                     alt="Оверлейне зображення 1" style="width: 30px; height: 30px;">
            </a>
        </div>
        <div class="item">
            <img src="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_40.png' %}"
                 alt="Опис зображення 2">
            <a href="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_40.png' %}"
               data-lightbox="carousel"
               data-title="Зображення 2">
                <img class="overlay-image"
                     src="{% static '/mysite/img/index/_index_Examples_of_applications/path.png' %}"
                     alt="Оверлейне зображення 2" style="width: 30px; height: 30px;">
            </a>
        </div>
        <div class="item">
            <img src="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_41.png' %}"
                 alt="Опис зображення 3">
            <a href="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_41.png' %}"
               data-lightbox="carousel"
               data-title="Зображення 3">
                <img class="overlay-image"
                     src="{% static '/mysite/img/index/_index_Examples_of_applications/path.png' %}"
                     alt="Оверлейне зображення 3" style="width: 30px; height: 30px;">
            </a>
        </div>
        <div class="item">
            <img src="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_42.png' %}"
                 alt="Опис зображення 4">
            <a href="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_42.png' %}"
               data-lightbox="carousel"
               data-title="Зображення 4">
                <img class="overlay-image"
                     src="{% static '/mysite/img/index/_index_Examples_of_applications/path.png' %}"
                     alt="Оверлейне зображення 4" style="width: 30px; height: 30px;">
            </a>
        </div>
        <div class="item">
            <img src="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_43.png' %}"
                 alt="Опис зображення 5">
            <a href="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_43.png' %}"
               data-lightbox="carousel"
               data-title="Зображення 5">
                <img class="overlay-image"
                     src="{% static '/mysite/img/index/_index_Examples_of_applications/path.png' %}"
                     alt="Оверлейне зображення 5" style="width: 30px; height: 30px;">
            </a>
        </div>
        <div class="item">
            <img src="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_44.png' %}"
                 alt="Опис зображення 6">
            <a href="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_44.png' %}"
               data-lightbox="carousel"
               data-title="Зображення 6">
                <img class="overlay-image"
                     src="{% static '/mysite/img/index/_index_Examples_of_applications/path.png' %}"
                     alt="Оверлейне зображення 6" style="width: 30px; height: 30px;">
            </a>
        </div>
        <div class="item">
            <img src="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_45.png' %}"
                 alt="Опис зображення 7">
            <a href="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_45.png' %}"
               data-lightbox="carousel"
               data-title="Зображення 7">
                <img class="overlay-image"
                     src="{% static '/mysite/img/index/_index_Examples_of_applications/path.png' %}"
                     alt="Оверлейне зображення 7" style="width: 30px; height: 30px;">
            </a>
        </div>
        <div class="item">
            <img src="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_46.png' %}"
                 alt="Опис зображення 8">
            <a href="{% static 'mysite/img/index/_index_Examples_of_applications/Rectangle_46.png' %}"
               data-lightbox="carousel"
               data-title="Зображення 8">
                <img class="overlay-image"
                     src="{% static '/mysite/img/index/_index_Examples_of_applications/path.png' %}"
                     alt="Оверлейне зображення 8" style="width: 30px; height: 30px;">
            </a>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- Lightbox2 JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        });
    });
</script>
