/* Унікальні стилі для цього слайдера */
.custom-slider-container123 {
    width: 450px;
    margin: 0 auto;
}

.custom-slider-container123 ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.custom-slider-container123 li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer;
}

.custom-slider-container123 img {
    display: block;
    height: auto;
    max-width: 100%;
}

.custom-slider-container123 {
    width: 100%;
    max-width: 440px;
}

.cart_galerea_bloc_ob {
    width: 100%;
    max-width: 440px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(226, 180, 59);
    border-radius: 18px;
    margin: 20px;

}

.cart_galerea_bloc_ob_title {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin: 40px 0 20px 0;
}

.cart_galerea_bloc_ob_text {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 60px;
}

.cart_galerea_bloc_ob_buy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;

}

.cart_galerea_bloc_flex {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart_galerea_bloc {
    display: flex;
    justify-content: center;
}

.catalog_plate_right_cart_product_vid {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

.catalog_plate_right_cart_product_button {
    box-sizing: border-box;
    border: 2px solid rgb(226, 180, 59);
    border-radius: 8px;
    background: rgb(226, 180, 59);
    width: 147px;

    height: 44px;
}

.catalog_plate_right_cart_product_button:hover {
    background-color: rgba(226, 179, 61, 0.68); /* Новий колір фону */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавний перехід */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь */
}

@media (max-width: 520px) {
    .cart_galerea_bloc_ob {
        margin: 16px 0;
        padding: 16px;
    }
}
