.catelog_text_cart_top {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
    width: 100%;
    max-width: 1680px;
    padding: 20px;
    /* Властивості для фонового зображення */
    background-size: cover; /* Заповнює весь простір блоку */
    background-repeat: no-repeat; /* Забороняє повторення зображення */
    background-position: center; /* Центрує зображення */
    border: solid 2px rgb(226, 180, 59);;
    border-radius: 20px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.catelog_text_cart_BOT {
    box-sizing: border-box;
    border: 1px solid rgb(226, 180, 59);
    border-radius: 12px;
    background: rgb(226, 180, 59);
    width: 100%;
    max-width: 370px;
    height: 84px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
}

.catelog_text_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

