.contact_top {
    display: flex;
    justify-content: center; /* Вирівнюємо по центру горизонтально */
    align-items: center; /* Вирівнюємо по центру вертикально */
    background-size: cover; /* Зображення заповнює весь контейнер */
    background-position: center; /* Зображення вирівнюється по центру */
    background-repeat: no-repeat; /* Забороняємо повторення зображення */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Додаємо тінь */
}

.contact_top_cart {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: 1320px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0 100px 0;
    flex-wrap: wrap;
    margin: 100px 0 100px 0;
}

@media (max-width: 1321px) {
    .contact_top_cart {
        border-radius: 0;
        margin: 0;
    }
}

.contact_top_cart_left {
    max-width: 526px;
}

.contact_top_cart_left_title {
    margin-bottom: 40px;
}

.contact_top_cart_left_too_title {
    margin-bottom: 60px;
}

.contact_top_cart_left_title {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
}

.contact_top_cart_left_too_title {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.contact_top_cart_left_component_phone_text {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-left: 10px;
}

.contact_top_cart_left_component_phone,
.contact_top_cart_left_component_telegram,
.contact_top_cart_left_component_whatsapp,
.contact_top_cart_left_component_email {
    display: flex;
    margin-bottom: 15px;
    justify-content: flex-start;
    align-items: center;
}

.contact_top_cart_right .contact_top_cart_right_cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 440px;
    box-sizing: border-box;
    border: 2px solid rgb(184, 184, 184);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 20px;
}

.contact_top_cart_right_title {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    margin-bottom: 20px;
}

.contact_top_cart_right_cart .username,
.contact_top_cart_right_cart .useremail,
.contact_top_cart_right_cart .userphone {
    box-sizing: border-box;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 8px;
    margin-bottom: 20px;
    height: 26px;
    padding: 0 5px 0 5px;
}

.input_text {
    box-sizing: border-box;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 8px;
    height: 80px;
}

.contact_top_cart_left,
.contact_top_cart_right {
    margin: 35px;
}

.contact_top_cart_right_button {
    box-sizing: border-box;
    border: 1px solid rgb(226, 180, 59);
    border-radius: 8px;
    background: rgb(226, 180, 59);
    width: 100%;
    max-width: 352px;
    height: 34px;
}

.contact_top_cart_right_cart_consent {
    display: flex;
    align-items: center;
    margin-top: 10px;
}



.contact_top_cart_right_cart_consent_text {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    text-align: left;
    margin-left: 5px;
}

.contact_top_cart_right_cart_consent_text_feedback{
    color: rgb(255 255 255);

}