{% load static %}
<div class="background_form_f" id="background_form_f_id">
    <div class="overlay_f">
        <div class="form-container_f">
            <h1 class="title_f">Uzyskaj konsultację</h1>
            <p class="description_f">Jeśli masz pytania lub interesują Cię informacje o naszej organizacji – skontaktuj
                się z nami.</p>
            <input type="text_f" placeholder="Twoje imię" required>
            <input type="email_f" placeholder="Twój e-mail" required>
            <input type="tel_f" placeholder="Twój numer telefonu" required>
            <textarea placeholder="Twoja wiadomość" required></textarea>
            <button type="submit_f">Wyślij</button>
            <div class="contact_top_cart_right_cart_consent">
                <img src="{% static '/mysite/img/contact/check.png' %}">
                <p class="contact_top_cart_right_cart_consent_text contact_top_cart_right_cart_consent_text_feedback">
                    Zgodnie z wymogami ustawy Ukrainy "O ochronie danych osobowych", klikając przycisk "Wyślij",
                    potwierdzam swoją zgodę na przetwarzanie moich danych osobowych.
                </p>
            </div>
        </div>
    </div>
</div>
