{% load static %}
<div class="background_form_f" id="background_form_f_id">
    <div class="overlay_f">
        <div class="form-container_f">
            <h1 class="title_f">Отримайте консультацію</h1>
            <p class="description_f">Якщо маєте запитання або вас цікавить інформація про нашу організацію — зв’яжіться
                з нами.</p>
            <input type="text_f" placeholder="Ваше ім’я" required>
            <input type="email_f" placeholder="Ваш e-mail" required>
            <input type="tel_f" placeholder="Ваш номер телефону" required>
            <textarea placeholder="Ваше повідомлення" required></textarea>
            <button type="submit_f">Надіслати</button>
            <div class="contact_top_cart_right_cart_consent">
                <img src="{% static '/mysite/img/contact/check.png' %}">
                <p class="contact_top_cart_right_cart_consent_text contact_top_cart_right_cart_consent_text_feedback">
                    Надаю згоду на обробку моїх персональних даних відповідно до Закону України «Про захист персональних
                    даних». Маю право на доступ, виправлення, видалення даних та відкликання згоди у будь-який час.
                </p>
            </div>
        </div>
    </div>
</div>
