{% load static %}
<footer>
    <div class="footer-main">
        <!-- Logo i tekst -->
        <div class="footer-section logo-section">
            <img src="{% static '/mysite/img/content/main/logo.png' %}" alt="Logo firmy" class="logo"/>
            <p class="site-name">Виробництво виробів з природного каменю.</p>
        </div>

        <!-- Menu pionowe -->
        <div class="footer-section menu-section">
            <ul class="footer-menu">
                <li><a href="#section1">Головна</a></li>
                <li><a href="#section2">Каталог</a></li>
                <li><a href="#section3">Виробництво</a></li>
                <li><a href="#section4">Доставка та оплата</a></li>
                <li><a href="#section5">Контакти</a></li>
                <li><a href="#section6">Проєкти</a></li>
                <li><a href="#section7">Політика конфіденційності</a></li>
            </ul>
        </div>

        <!-- Контакти -->
        <div class="footer-section contacts-section">
            <a href="tel:+48575766613" class="contact-item">
                <p>Телефон: +48575766613</p>
            </a>
            <a href="mailto:Garantbud86@gmail.com" class="contact-item">
                <p>Email: Garantbud86@gmail.com</p>
            </a>
            <p>73-109 Smogolice, 31А, Польща</p>
        </div>
    </div>

    <!-- Нижня частина з авторськими правами -->
    <div class="footer-bottom">
        <p>© 2023 Garant-Bud. Усі права захищені</p>
    </div>
</footer>
