{% load static %}
<footer>
    <div class="footer-main">
        <!-- Logo i tekst -->
        <div class="footer-section logo-section">
            <img src="{% static '/mysite/img/content/main/logo.png' %}" alt="Logo firmy" class="logo"/>
            <p class="site-name">Produkcja wyrobów z kamienia naturalnego.</p>
        </div>

        <!-- Menu pionowe -->
        <div class="footer-section menu-section">
            <ul class="footer-menu">
                <li><a href="#section1">Strona główna</a></li>
                <li><a href="#section2">Katalog</a></li>
                <li><a href="#section3">Produkcja</a></li>
                <li><a href="#section4">Dostawa i płatność</a></li>
                <li><a href="#section5">Kontakt</a></li>
                <li><a href="#section6">Projekty</a></li>
                <li><a href="#section7">Polityka prywatności</a></li>
            </ul>
        </div>

        <!-- Kontakt -->
        <div class="footer-section contacts-section">
            <a href="tel:+48575766613" class="contact-item">
                <p>Telefon: +48575766613</p>
            </a>
            <a href="mailto:Garantbud86@gmail.com" class="contact-item">
                <p>Email: Garantbud86@gmail.com</p>
            </a>
            <p>Adres: 75X8+3FW Krąpiel, Polska</p>
        </div>
    </div>

    <!-- Dolna część z prawami autorskimi -->
    <div class="footer-bottom">
        <p>© 2023 Garant-Bud. Wszelkie prawa zastrzeżone</p>
    </div>
</footer>
