{% load static %}
<section class="product_1_body">
    <section class="product_1_body_main-slider">
        <div class="item image">
            <span class="loading">Завантаження...</span>
            <figure>
                <div class="slide-image slide-media"
                     style="background-image: url('{% static 'mysite/img/production/image2.png' %}');">
                    <img data-lazy="{% static 'mysite/img/production/image2.png' %}"
                         class="image-entity"/>
                </div>
<!--                <figcaption class="caption">Garant-bud</figcaption>-->
<!--                <figcaption class="caption123">Wyroby z granitu dla budownictwa-->
<!--                    Konstrukcje metalowe-->
<!--                    Будівельно-монтажні роботи-->
<!--                </figcaption>-->
                <figcaption class="caption2">Garant-bud</figcaption>
            </figure>
        </div>
<!--        <div class="item video" data-video-start="4">-->
<!--            <video class="embed-player slide-media" width="1920" height="1020">-->
<!--                <source src="{% static 'mysite/img/production/video.mp4' %}" type="video/mp4">-->
<!--                Ваш браузер не підтримує тег відео.-->
<!--            </video>-->
<!--        </div>-->

        <div class="item image">
            <span class="loading">Завантаження...</span>
            <figure>
                <div class="slide-image slide-media"
                     style="background-image: url('{% static 'mysite/img/production/image1.png' %}');">
                    <img data-lazy="{% static 'mysite/img/production/image1.png' %}"
                         class="image-entity"/>
                </div>
                <!--            <figcaption class="caption">Obraz statyczny</figcaption>-->
            </figure>
        </div>
        <div class="item image">
            <span class="loading">Завантаження...</span>
            <figure>
                <div class="slide-image slide-media"
                     style="background-image: url('{% static 'mysite/img/production/image.png' %}');">
                    <img data-lazy="{% static 'mysite/img/production/image.png' %}"
                         class="image-entity"/>
                </div>
                <!--            <figcaption class="caption">Obraz statyczny</figcaption>-->
            </figure>
            +
        </div>
    </section>
    <section class="container">

    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
</section>

<script>
    const slideWrapper = $(".product_1_body_main-slider"),
        iframes = slideWrapper.find('.embed-player'),
        lazyImages = slideWrapper.find('.slide-image');
    let lazyCounter = 0;

    // Надсилання команд до API YouTube або Vimeo
    const postMessageToPlayer = (player, command) => {
        if (player == null || command == null) return;
        player.contentWindow.postMessage(JSON.stringify(command), "*");
    }

    // Коли змінюється слайд
    const playPauseVideo = (slick, control) => {
        let currentSlide, slideType, startTime, player, video;

        currentSlide = slick.find(".slick-current");
        slideType = currentSlide.attr("class").split(" ")[1];
        player = currentSlide.find("iframe").get(0);
        startTime = currentSlide.data("video-start");

        if (slideType === "vimeo") {
            switch (control) {
                case "play":
                    if ((startTime != null && startTime > 0) && !currentSlide.hasClass('started')) {
                        currentSlide.addClass('started');
                        postMessageToPlayer(player, {
                            "method": "setCurrentTime",
                            "value": startTime
                        });
                    }
                    postMessageToPlayer(player, {
                        "method": "play",
                        "value": 1
                    });
                    break;
                case "pause":
                    postMessageToPlayer(player, {
                        "method": "pause",
                        "value": 1
                    });
                    break;
            }
        } else if (slideType === "youtube") {
            switch (control) {
                case "play":
                    postMessageToPlayer(player, {
                        "event": "command",
                        "func": "mute"
                    });
                    postMessageToPlayer(player, {
                        "event": "command",
                        "func": "playVideo"
                    });
                    break;
                case "pause":
                    postMessageToPlayer(player, {
                        "event": "command",
                        "func": "pauseVideo"
                    });
                    break;
            }
        } else if (slideType === "video") {
            video = currentSlide.children("video").get(0);
            if (video != null) {
                if (control === "play") {
                    video.play();
                } else {
                    video.pause();
                }
            }
        }
    }

    // Після завантаження DOM
    $(function () {
        // Inicjalizacja
        slideWrapper.on("init", function (slick) {
            slick = $(slick.currentTarget);
            setTimeout(function () {
                playPauseVideo(slick, "play");
            }, 1000);
            // видалення виклику resizePlayer
        });
        slideWrapper.on("beforeChange", function (event, slick) {
            slick = $(slick.$slider);
            playPauseVideo(slick, "pause");
        });
        slideWrapper.on("afterChange", function (event, slick) {
            slick = $(slick.$slider);
            playPauseVideo(slick, "play");
        });
        slideWrapper.on("lazyLoaded", function (event, slick, image, imageSource) {
            lazyCounter++;
            if (lazyCounter === lazyImages.length) {
                lazyImages.addClass('show');
                // slideWrapper.slick("slickPlay");
            }
        });

        // Запускаємо слайдер без зміни розміру елементів плеєра
        slideWrapper.slick({
            autoplaySpeed: 4000,
            lazyLoad: "progressive",
            speed: 600,
            arrows: false,
            dots: true,
            cssEase: "cubic-bezier(0.87, 0.03, 0.41, 0.9)"
        });
    });

    // Прибираємо слухач події resize
    $(window).off("resize.slickVideoPlayer");
</script>
