<section class="production_About_production">
    <div class="production_About_production_to">
        <h1 class="production_About_production_title">O naszej produkcji, produktach i usługach</h1>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Własna produkcja konstrukcji metalowych</h2>
            <p class="production_About_production_section_text">
                Dysponujemy własną bazą produkcyjną do wytwarzania konstrukcji metalowych. Doświadczeni specjaliści
                naszej firmy realizują każde życzenie klientów.
            </p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Produkujemy:</h2>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">✔️ Dekoracyjne ogrodzenia
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">✔️ Schody
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">✔️ Bramy
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">✔️ Zadaszenia
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 40px">✔️ Hale stalowe
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 40px">I to jeszcze nie
                wszystko! Nasi rzemieślnicy wykonują konstrukcje metalowe zarówno według Państwa rysunków, jak i na
                podstawie pomiarów i obliczeń przeprowadzonych przez naszych specjalistów.
            </p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Wyroby z granitu</h2>
            <p class="production_About_production_section_text">Nasi partnerzy zapewniają pełny cykl produkcji wyrobów
                granitowych – od obróbki surowca po dostawę gotowych produktów na nasz magazyn. Kontrolujemy każdy etap
                produkcji, co pozwala nam terminowo dostarczać klientom:
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">✔️ Granitową kostkę ciętą
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">✔️ Granitowe płyty elewacyjne
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 40px">✔️ Inne wysokiej jakości
                wyroby z naturalnego kamienia
            </p>
            <p class="production_About_production_section_text">Nasze produkty spełniają najwyższe standardy jakości i
                niezawodności.
            </p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Silny zespół zorientowany na jakość</h2>
            <p class="production_About_production_section_text">Nasz zespół to doświadczeni specjaliści w zakresie
                budownictwa, produkcji konstrukcji metalowych i pracy z granitem.
            </p>
            <p class="production_About_production_section_text">Gwarantujemy szybką i wysokiej jakości realizację
                zamówień zgodnie z najwyższymi standardami. Nasi fachowcy wykonują pełen zakres prac:
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">🔹 Roboty ziemne i instalacja
                sieci
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">🔹 Prace betonowe
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">🔹 Pokrycia dachowe i prace
                wykończeniowe wewnętrzne
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">🔹 Elewacje z naturalnego
                kamienia
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">🔹 Montaż domofonów i systemów
                alarmowych
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">🔹 Zagospodarowanie terenu z
                wykorzystaniem wyrobów granitowych
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 40px">🔹 Produkcja i montaż
                konstrukcji metalowych
            </p>
            <p class="production_About_production_section_text">Dążymy do perfekcyjnego rezultatu na każdym etapie!
            </p>

        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Stała dostępność produktów w magazynie</h2>
            <p class="production_About_production_section_text">W naszym magazynie zawsze dostępny jest szeroki
                asortyment wyrobów z granitu:
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">✅ Kostka granitowa cięta
                wykończeniowe wewnętrzne
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">✅ Płyty granitowe tarasowe
                kamienia
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">✅ Płyty granitowe chodnikowe
                alarmowych
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">✅ Parapety granitowe
                zewnętrzne i wewnętrzne
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 40px">✅ Schody granitowe
                zewnętrzne i wewnętrzne
            </p>
            <p class="production_About_production_section_text">To pozwala nam szybko spełniać wymagania klientów,
                gwarantując szybką wysyłkę i dostawę.
            </p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Bezpieczne opakowanie i transport</h2>
            <p class="production_About_production_section_text">Nasze wyroby granitowe są pakowane zgodnie z
                rygorystycznymi standardami, co zapewnia ich ochronę podczas transportu.
            </p>
            <p class="production_About_production_section_text">Wybieramy rodzaj opakowania w zależności od:
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">📦 Sposobu transportu
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 5px">📦 Odległości dostawy
            </p>
            <p class="production_About_production_section_text" style="margin-bottom: 40px">📦 Indywidualnych wymagań
                klienta
            </p>
            <p class="production_About_production_section_text">Rezultat? Produkty docierają w idealnym stanie, bez
                uszkodzeń i wad.
            </p>
            <p class="production_About_production_section_text">Współpracuj z nami – gwarantujemy niezawodność, jakość i
                terminowość!
            </p>
        </div>
    </div>
</section>
