<section class="production_our_achievements">
    <h1 class="production_our_achievements_title">Nasze osiągnięcia</h1>
    <p class="production_our_achievements_text">Setki zadowolonych klientów, tysiące wyrobów granitowych, siła w każdym kamieniu.</p>
    <div class="production_our_achievements_cart">
        <div class="production_our_achievements_cart_k">
            <h2 class="production_our_achievements_cart_title">84,948</h2>
            <p class="production_our_achievements_cart_text">Wyprodukowana kostka brukowa</p>
        </div>
        <div class="production_our_achievements_cart_k">
            <h2 class="production_our_achievements_cart_title">4,689</h2>
            <p class="production_our_achievements_cart_text">Zakończonych projektów</p>
        </div>
        <div class="production_our_achievements_cart_k">
            <h2 class="production_our_achievements_cart_title">3,689</h2>
            <p class="production_our_achievements_cart_text">Zadowolonych klientów</p>
        </div>
        <div class="production_our_achievements_cart_k">
            <h2 class="production_our_achievements_cart_title">10</h2>
            <p class="production_our_achievements_cart_text">Lat na rynku</p>
        </div>
    </div>
</section>
