<section class="production_our_achievements">
    <h1 class="production_our_achievements_title">Наші досягнення</h1>
    <p class="production_our_achievements_text">Сотні задоволених клієнтів, тисячі гранітних виробів, сила в кожному камені.</p>
    <div class="production_our_achievements_cart">
        <div class="production_our_achievements_cart_k">
            <h2 class="production_our_achievements_cart_title">84,948</h2>
            <p class="production_our_achievements_cart_text">Виготовлена бруківка</p>
        </div>
        <div class="production_our_achievements_cart_k">
            <h2 class="production_our_achievements_cart_title">4,689</h2>
            <p class="production_our_achievements_cart_text">Завершених проєктів</p>
        </div>
        <div class="production_our_achievements_cart_k">
            <h2 class="production_our_achievements_cart_title">3,689</h2>
            <p class="production_our_achievements_cart_text">Задоволених клієнтів</p>
        </div>
        <div class="production_our_achievements_cart_k">
            <h2 class="production_our_achievements_cart_title">10</h2>
            <p class="production_our_achievements_cart_text">Років на ринку</p>
        </div>
    </div>
</section>
