footer {
    background-color: #333; /* Темний фон для футера */
    color: white;
    padding: 30px 20px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
}

/* Секції футера */
.footer-section {
    flex-basis: 30%; /* Ширина кожної секції - 30% */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.logo {
    max-width: 120px; /* Обмежуємо розмір логотипа */
    margin-bottom: 10px;
}

.site-name {
    font-size: 18px;
    font-weight: bold;
}

/* Вертикальне меню */
.footer-menu {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-menu li {
    margin-bottom: 10px;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-menu a:hover {
    color: #28a745; /* Колір при наведенні на пункт меню */
}

/* Контакти */
.contacts-section p {
    margin-bottom: 10px;
    text-align: left;
    max-width: 300px;
}

.menu-section {
    align-items: center;
}

.menu-section li {
    text-align: left;
    align-items: center;
}

/* Нижня частина футера */
.footer-bottom {
    text-align: center;
    border-top: 1px solid #555; /* Розділююча лінія */
    padding-top: 10px;
    font-size: 14px;
}

@media (max-width: 1050px) {
    .logo-section {
        margin-left: 0;
        align-items: center;
    }
}

/* Адаптивність */
@media (max-width: 768px) {
    .footer-section {
        flex-basis: 100%; /* На планшетах кожна секція займатиме 100% ширини */
        text-align: center;
        align-items: center;
    }

    .menu-section li {
        text-align: center;
    }

    .contacts-section p {
        text-align: center;
    }

}

@media (max-width: 480px) {
    footer {
        padding: 20px 10px; /* Зменшуємо відступи на менших екранах */
    }

    .logo {
        max-width: 100px; /* Менший розмір логотипа для телефонів */
    }

    .site-name {
        font-size: 16px; /* Менший шрифт назви сайту */
    }

    .footer-menu a {
        font-size: 14px; /* Менший шрифт меню для телефонів */
    }

    .contacts-section p {
        font-size: 14px; /* Менший шрифт контактної інформації */
    }

    .footer-bottom {
        font-size: 12px; /* Зменшуємо текст авторських прав */
    }
}
