 :root {
        --fonts: Monserat;
        --bg_color: #E2B43B;
        --font_color: #efefef;
        --link_color: #efefef;
        --link_hover_color: #fff;
    }

    *, *:before, *:after {
        padding: 0;
        margin: 0;
    }

    .product_1_body {
        font-family: var(--fonts);
        background-color: var(--bg_color);
        position: relative;
        color: var(--font_color);
        text-align: center;
    }

    .product_1_body a, a:visited {
        color: var(--link_color);
        text-decoration: none;
    }

    .product_1_body a:hover {
        color: var(--link_hover_color);
    }

    .product_1_body .bv-hidden {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .product_1_body .filled-obj {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .product_1_body header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        padding: 0 5%;
        text-align: left;
        z-index: 1;
    }

    .product_1_body header h1 {
        display: inline-block;
        font-size: 22px;
        font-weight: bold;
        padding-top: 18px;
    }

    .product_1_body nav {
        display: inline-block;
        float: right;
    }

    .product_1_body nav ul li {
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
    }

    .product_1_body nav ul li a {
        display: block;
        padding: 24px 15px;
    }

    .product_1_body nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.18);
    }

.product_1_body_main-slider {
    position: relative;
    width: 100%;
    height: 38vw;
    min-height: 8vw;
    margin-bottom: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 1.2s ease;
}

    .product_1_body .product_1_body_main-slider.slick-initialized {
        opacity: 1;
        visibility: visible;
    }

    .product_1_body .slick-slide {
        position: relative;
        height: 38vw;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .product_1_body .slick-slide::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: #000;
        opacity: 0.3;
        z-index: 1;
    }

    .product_1_body .slick-slide video {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
    }

    .product_1_body .slick-slide iframe {
        position: relative;
        pointer-events: none;
    }

    .product_1_body .slick-slide figure {
        position: relative;
        height: 100%;
    }

    .product_1_body .slide-image {
        opacity: 0;
        height: 100%;
        background-size: cover;
        background-position: center;
        transition: all 0.8s ease;
    }

    .product_1_body .slide-image.show {
        opacity: 1;
    }

    .product_1_body .image-entity {
        width: 100%;
        opacity: 0;
        visibility: hidden;
    }

    .product_1_body .loading {
        position: absolute;
        top: 44%;
        left: 0;
        width: 100%;
    }

    .product_1_body .slide-media {
        animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
    }

    .product_1_body .slick-slide.slick-active {
        z-index: 1;
    }

    .product_1_body .slick-slide.slick-active .slide-media {
        animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
    }

    .product_1_body .slick-slide.slick-active .caption {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
    }

    .product_1_body .caption {
        position: absolute;
        top: 163px;
        left: 250px;
        text-align: center;
        color: #fff;
        margin: 0;
        font-size: 96px;
        font-weight: bold;
        letter-spacing: 0.02em;
        opacity: 0;
        z-index: 1;
        transition: all 0.3s ease;
        transform: translateY(100px);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .product_1_body .caption2 {
        position: absolute;
        top: 0;
        left: 250px;
        text-align: center;
        color: #fff;
        margin: 0;
        font-size: 96px;
        font-weight: bold;
        letter-spacing: 0.02em;
        opacity: 0;
        z-index: 1;
        transition: all 0.3s ease;
        transform: translateY(100px);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .product_1_body .slick-dots {
        text-align: center;
        padding-top: 15px;
    }

    .product_1_body .slick-dots li {
        display: inline-block;
        vertical-align: top;
        margin: 0 8px;
    }

    .product_1_body .slick-dots li button {
        width: 16px;
        height: 16px;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: #fff;
        transition: all 0.3s ease;
        opacity: 0.4;
    }

    .product_1_body .slick-dots li button:focus {
        outline: none;
    }

    .product_1_body .slick-dots li button:hover {
        opacity: 1;
    }

    .product_1_body .slick-dots li.slick-active button {
        border-color: var(--bg_color);
        box-shadow: 0 0 0 2px #fff;
        opacity: 1;
    }

    .product_1_body .container {
        background-color: rgba(242, 242, 242, 0);
        color: rgba(68, 68, 68, 0);
        line-height: 1.6;
        padding: 1px 0;
    }

    .product_1_body .container .content {
        width: 90%;
        max-width: 980px;
        margin: 0 auto;
    }

    .product_1_body .container p {
        margin-bottom: 40px;
    }

    @keyframes slideIn {
        from {
            filter: blur(15px);
        }
        to {
            filter: blur(0);
        }
    }

    @keyframes slideOut {
        from {
            filter: blur(0);
        }
        to {
            filter: blur(15px);
        }
    }