.katalog_bloc_index {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.katalog_bloc_index_top {
    width: 100%;
    display: flex;
    align-items: center;
}

.katalog_bloc_index_top_linia {
    border: 2px solid rgb(226, 180, 59);
    height: 2px;
    flex-grow: 1; /* Лінії займають все вільне місце */
    height: 1px;
}

.katalog_bloc_index_top_button {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid rgb(226, 180, 59);
    border-radius: 16px;
    background: rgb(56, 56, 56);
    width: 400px;
    height: 80px;
    color: rgb(226, 180, 59);
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 20px 0 20px;
}
.katalog_bloc_index_top_button:before {
	font-family: FontAwesome;
	content:"\f07a";
	position: absolute;
	top: 20px;
	left: -40px;
	transition: all 200ms ease;
}
button:hover:before {
	left: 85px;
}
.katalog_bloc_index_top .lef {
    margin-left: 120px;
}

.katalog_bloc_index_top .rig {
    margin-right: 120px;
}

@media (max-width: 1500px) {
    .katalog_bloc_index_top .lef {
        margin-left: 20px;
    }

    .katalog_bloc_index_top .rig {
        margin-right: 20px;
    }
}

@media (max-width: 1100px) {
    .katalog_bloc_index_top_button {
        width: 280px;
        height: 60px;
    }
}

@media (max-width: 700px) {
    .katalog_bloc_index_top_button {
        width: 180px;
        height: 40px;
        font-size: 20px;
    }
}