.video-block_index .video-block {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto; /* Центрируем блок */
}

.video-block_index .video-overlay {
    position: relative; /* Положение относительно контента */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.video-block_index video {
    display: block;
    width: 100%;
    height: auto; /* Автоматическая высота для масштабирования */
}

.video-block_index .video-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* Белый текст поверх видео */
    text-align: center;
    z-index: 2; /* Выводим контент поверх видео */
}

.video-block_index .video-title {
    font-size: 2rem;
    margin: 0 0 10px;
}

.video-block_index .video-description {
    font-size: 1.2rem;
}

.video-block_index .video-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение видео */
    z-index: 1;
}

.video-block_index .video-title {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 96px;
    font-weight: 900;
    letter-spacing: 0px;
    text-align: center;
    margin-left: -800px;
    margin-bottom: 100px;
}

.video-block_index .video-description {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
    width: 100%;
    max-width: 660px;
    margin-left: 1000px;
}

@media (max-width: 1700px) {
    .video-block_index .video-title {
        margin-left: -500px;
    }

    .video-block_index .video-description {
        margin-left: 700px;
    }
}

@media (max-width: 1400px) {
    .video-block_index .video-title {
        margin-left: -200px;
    }

    .video-block_index .video-description {
        margin-left: 400px;
    }
}

@media (max-width: 1100px) {
    .video-block_index .video-title {
        margin-left: 0;
        font-size: 48px
    }

    .video-block_index .video-description {
        margin-left: 0;
        font-size: 20px;
        max-width: 800px;
        text-align: justify;
    }
}

@media (max-width: 820px) {
    .video-block_index .video-title {
        font-size: 36px;
        margin-bottom: 35px;
    }

    .video-block_index .video-description {
        font-size: 16px;
        max-width: 100%;
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 650px) {
    .video-block_index .video-overlay{
        height: 800px;
    }
    .video-block_index video{
        width: auto;
    }
}

@media (max-width: 360px) {
    .video-block_index .video-overlay{
        height: 850px;
    }
    .video-block_index video{
        width: auto;
    }
}