<section class="production_About_production">
    <div class="production_About_production_to">
        <h1 class="production_About_production_title">Доставка та оплата</h1>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Доставка</h2>
            <p class="production_About_production_section_text">Пропонуємо кілька варіантів доставки, щоб забезпечити
                максимальний комфорт. Ви можете обрати найзручніший спосіб, узгодивши всі деталі з нашим менеджером
                телефоном.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Самовивіз</h2>
            <p class="production_About_production_section_text">Ви можете забрати своє замовлення безпосередньо з нашого
                складу. Ми повідомимо, коли товар буде готовий до відвантаження після підтвердження його наявності.
                Самовивіз можливий лише за попередньою домовленістю.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Доставка по Європі</h2>
            <p class="production_About_production_section_text">Організовуємо транспортування гранітних виробів
                вантажним або спеціалізованим транспортом. Вартість доставки визначається індивідуально та залежить від
                виду транспорту й відстані до місця призначення.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Приймання товару</h2>
            <p class="production_About_production_section_text">Під час отримання гранітних виробів необхідно ретельно
                перевірити товар на наявність видимих механічних пошкоджень. Ви маєте право подати претензію щодо стану
                товару лише до моменту передання його кур’єру. Після прийняття доставки претензії щодо зовнішнього
                вигляду товару не розглядаються.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Приймання замовлення</h2>
            <p class="production_About_production_section_text">Під час отримання замовлення перевірте товар на видимі
                механічні пошкодження. Ви маєте право заявити претензії щодо стану товару лише до моменту передання його
                кур’єру або під час отримання у поштовому пункті. Після приймання товару претензії щодо зовнішнього
                вигляду не розглядаються.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Оплата</h2>
            <p class="production_About_production_section_text">Пропонуємо кілька зручних способів оплати:</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Банківський переказ</h2>
            <p class="production_About_production_section_text">Замовлення можна оплатити банківським переказом. Реквізити
                для оплати будуть зазначені в договорі або надіслані на ваш e-mail. Доставка здійснюється після
                зарахування коштів на наш рахунок.</p>
        </div>
        <div class="production_About_production_section">
            <h1 class="production_About_production_section_title">Оплата карткою</h1>
            <p class="production_About_production_section_text">Також доступна оплата карткою. Дані для оплати
                надаються під час оформлення замовлення.</p>
        </div>
        <div class="production_About_production_section">
            <h1 class="production_About_production_section_title">Передплата для гуртових замовлень</h1>
            <p class="production_About_production_section_text">У разі гуртових замовлень потрібна передплата у розмірі
                50%.</p>
            <p class="production_About_production_section_text">Разом із товаром ми надамо всі необхідні документи.</p>
        </div>
    </div>
</section>
