<section class="production_About_production">
    <div class="production_About_production_to">
        <h1 class="production_About_production_title">Доставка та оплата</h1>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Доставка</h2>
            <p class="production_About_production_section_text">Ми пропонуємо кілька варіантів доставки, щоб забезпечити
                нашим клієнтам максимальний комфорт. Ви можете обрати найзручніший спосіб доставки, узгодивши всі деталі
                з нашим менеджером телефоном.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Самовивіз</h2>
            <p class="production_About_production_section_text">Ви можете забрати своє замовлення безпосередньо з нашого
                складу. Ми повідомимо вас, коли товар буде готовий до відвантаження після підтвердження наявності.
                Самовивіз можливий лише за попередньою домовленістю.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Доставка по Європі</h2>
            <p class="production_About_production_section_text">Ми організовуємо перевезення гранітних виробів
                вантажним або спеціалізованим транспортом.
                Вартість доставки визначається індивідуально й залежить від типу транспорту та відстані до місця
                призначення.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Приймання товару</h2>
            <p class="production_About_production_section_text">Під час отримання гранітних виробів необхідно ретельно
                перевірити товар на наявність видимих механічних пошкоджень. Ви маєте право подати рекламацію щодо стану
                товару лише до його передачі кур’єру. Після підтвердження доставки рекламації щодо зовнішнього вигляду
                товару не розглядатимуться.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Приймання замовлення</h2>
            <p class="production_About_production_section_text">Під час отримання замовлення перевірте товар на наявність
                видимих механічних пошкоджень. Ви маєте право подавати рекламації щодо стану товару лише до моменту його
                передачі кур’єру або під час отримання в пункті видачі. Після прийняття товару рекламації щодо
                зовнішнього вигляду не розглядатимуться.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Оплата</h2>
            <p class="production_About_production_section_text">Ми пропонуємо кілька зручних способів оплати:</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Банківський переказ</h2>
            <p class="production_About_production_section_text">Замовлення можна оплатити банківським переказом. Реквізити
                для переказу будуть вказані в договорі або надіслані на вашу електронну адресу. Доставка здійснюється
                після зарахування коштів на наш рахунок.</p>
        </div>
        <div class="production_About_production_section">
            <h1 class="production_About_production_section_title">Оплата карткою</h1>
            <p class="production_About_production_section_text">Також ми пропонуємо можливість оплати карткою. Дані для
                оплати будуть надані під час оформлення замовлення.</p>
        </div>
        <div class="production_About_production_section">
            <h1 class="production_About_production_section_title">Передоплата для оптових замовлень</h1>
            <p class="production_About_production_section_text">У разі оптових замовлень потрібна передоплата у розмірі
                50%.</p>
            <p class="production_About_production_section_text">Разом із товаром ми надамо всі необхідні документи.</p>
        </div>
    </div>
</section>
