<section class="production_About_production">
    <div class="production_About_production_to">
        <h1 class="production_About_production_title">Dostawa i płatność</h1>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Dostawa</h2>
            <p class="production_About_production_section_text">Oferujemy kilka opcji dostawy, aby zapewnić naszym
                klientom maksymalny komfort. Możesz wybrać najdogodniejszy sposób dostawy, omawiając wszystkie szczegóły
                z naszym menedżerem telefonicznie.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Odbiór osobisty</h2>
            <p class="production_About_production_section_text">Możesz odebrać swoje zamówienie bezpośrednio z naszego
                magazynu. Poinformujemy Cię, gdy towar będzie gotowy do wysyłki, po potwierdzeniu jego dostępności.
                Odbiór osobisty jest możliwy wyłącznie po wcześniejszym uzgodnieniu.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Dostawa w Europie</h2>
            <p class="production_About_production_section_text">Organizujemy transport wyrobów granitowych za pomocą
                transportu ciężarowego lub specjalistycznego.
                Koszt dostawy jest ustalany indywidualnie i zależy od rodzaju transportu oraz odległości do miejsca
                docelowego.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Odbiór towaru</h2>
            <p class="production_About_production_section_text">Przy odbiorze wyrobów granitowych należy dokładnie
                sprawdzić towar pod kątem widocznych uszkodzeń mechanicznych. Masz prawo zgłosić reklamację dotyczącą
                stanu towaru wyłącznie przed jego przekazaniem kurierowi. Po zaakceptowaniu dostawy reklamacje dotyczące
                wyglądu zewnętrznego towaru nie będą rozpatrywane.</p>
        </div>
        {#        <div class="production_About_production_section">#}
        {#            <h2 class="production_About_production_section_title">Dostawa na terenie Polski</h2>#}
        {#            <p class="production_About_production_section_text">Dla dużych zamówień towarów oferujemy dostawę#}
        {#                specjalistycznymi pojazdami, takimi jak:</p>#}
        {#            <p class="production_About_production_section_text" style="margin-bottom: 10px">• Eurociężarówki (do 20#}
        {#                ton)</p>#}
        {#            <p class="production_About_production_section_text" style="margin-bottom: 10px">• Ciężarówki (do 10 ton)</p>#}
        {#            <p class="production_About_production_section_text" style="margin-bottom: 10px">• Gazele (do 2 ton)</p>#}
        {#            <p class="production_About_production_section_text" style="margin-bottom: 40px">• Kontenery kolejowe</p>#}
        {#            <p class="production_About_production_section_text">Koszt dostawy zamówień hurtowych jest obliczany#}
        {#                indywidualnie i zależy od rodzaju transportu oraz odległości do miejsca docelowego.</p>#}
        {#        </div>#}
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Odbiór towaru</h2>
            <p class="production_About_production_section_text">Podczas odbioru zamówienia sprawdź towar pod kątem
                widocznych uszkodzeń mechanicznych. Masz prawo zgłaszać reklamacje dotyczące stanu towaru tylko do
                momentu jego przekazania kurierowi lub przy odbiorze w punkcie pocztowym. Po przyjęciu towaru reklamacje
                dotyczące wyglądu zewnętrznego nie będą rozpatrywane.</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Płatność</h2>
            <p class="production_About_production_section_text">Oferujemy kilka wygodnych metod płatności:</p>
        </div>
        <div class="production_About_production_section">
            <h2 class="production_About_production_section_title">Przelew bankowy</h2>
            <p class="production_About_production_section_text">Zamówienie można opłacić przelewem bankowym. Dane do
                przelewu zostaną podane w umowie lub wysłane na Twój adres e-mail. Dostawa realizowana jest po
                zaksięgowaniu środków na naszym koncie.</p>
        </div>
        <div class="production_About_production_section">
            <h1 class="production_About_production_section_title">Płatność kartą</h1>
            <p class="production_About_production_section_text">Oferujemy również możliwość płatności kartą. Dane do
                płatności zostaną przekazane podczas składania zamówienia.</p>
        </div>
        <div class="production_About_production_section">
            <h1 class="production_About_production_section_title">Przedpłata dla zamówień hurtowych</h1>
            <p class="production_About_production_section_text">W przypadku zamówień hurtowych wymagana jest przedpłata
                w wysokości 50%.</p>
            <p class="production_About_production_section_text">Wraz z towarem dostarczymy wszystkie niezbędne
                dokumenty.</p>
        </div>
    </div>
</section>
