{% load static %}
<section class="contact_top" style="background-image: url('{% static 'mysite/img/contact/image.png' %}');">
    <div class="contact_top_cart">
        <div class="contact_top_cart_left">
            <div class="contact_top_cart_left_title">NASZE KONTAKTY</div>
            <div class="contact_top_cart_left_too_title">
                Jeśli masz pytania lub interesuje Cię informacja o naszej organizacji – skontaktuj się z nami.
            </div>
            <div class="contact_top_cart_left_component">
                <a href="tel:+48575766613" class="contact-item">
                    <div class="contact_top_cart_left_component_phone">
                        <img src="{% static '/mysite/img/contact/phone.png' %}">
                        <p class="contact_top_cart_left_component_phone_text">+48575766613</p>
                    </div>
                </a>
                <a href="#" class="contact-item">
                    <div class="contact_top_cart_left_component_telegram">
                        <img src="{% static '/mysite/img/contact/telegram.png' %}">
                        <p class="contact_top_cart_left_component_phone_text">Telegram</p>
                    </div>
                </a>
                <a href="#" class="contact-item">
                    <div class="contact_top_cart_left_component_whatsapp">
                        <img src="{% static '/mysite/img/contact/whatsapp.png' %}">
                        <p class="contact_top_cart_left_component_phone_text">WhatsApp</p>
                    </div>
                </a>
                <a href="mailto:Garantbud86@gmail.com" class="contact-item">
                    <div class="contact_top_cart_left_component_email">
                        <img src="{% static '/mysite/img/contact/email.png' %}">
                        <p class="contact_top_cart_left_component_phone_text">Garantbud86@gmail.com</p>
                    </div>
                </a>

            </div>
        </div>
        <div class="contact_top_cart_right">
            <div class="contact_top_cart_right_cart">
                <p class="contact_top_cart_right_title">Skontaktuj się z nami</p>
                <input placeholder="Twoje imię" for="username" type="text" id="username" name="username"
                       class="username">
                <input placeholder="Twój e-mail" for="useremail" type="text" id="useremail" name="useremail"
                       class="useremail">
                <input placeholder="Twój numer telefonu" for="userphone" type="text" id="userphone" name="userphone"
                       class="userphone">
                <textarea for="user_text" id="user_text" name="user_text" class="input_text"
                          placeholder="Opisz swoje pytanie"></textarea>
                <button class="contact_top_cart_right_button">Wyślij</button>
                <div class="contact_top_cart_right_cart_consent">
                    <img src="{% static '/mysite/img/contact/check.png' %}">
                    <p class="contact_top_cart_right_cart_consent_text">
                        Zgodnie z wymogami ustawy Ukrainy "O ochronie danych osobowych", klikając przycisk "Wyślij",
                        potwierdzam swoją zgodę na przetwarzanie moich danych osobowych.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
