<section class="contact_bot">
    <div class="contact_bot_left">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2384.541437687234!2d15.16363207672858!3d53.297748972275194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTPCsDE3JzUxLjkiTiAxNcKwMDknNTguNCJF!5e0!3m2!1suk!2sua!4v1740735179587!5m2!1suk!2sua"
                width="880"
                height="840"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                class="contact_bot_map">
        </iframe>
    </div>
    <div class="contact_bot_right">
        <div class="contact_bot_right_top">
            <div class="contact_bot_right_top_title">NASZ ADRES</div>
            <div class="contact_bot_right_top_text">75X8+3FW Krąpiel, Polska
            </div>
        </div>
        <div class="contact_bot_right_bot">
            <div class="contact_bot_right_bot_title">Przybliżony koszt dostawy</div>
            <div class="contact_bot_right_bot_text">cena podana za 1 T</div>
            <div class="contact_bot_right_bot_tabel">
                <div class="contact_bot_right_bot_tabel_row">
                    <div class="contact_bot_right_bot_tabel_row_col">Szczecin</div>
                    <div class="contact_bot_right_bot_tabel_row_col"></div>
                </div>
                <div class="contact_bot_right_bot_tabel_row contact_bot_right_bot_tabel_row_alt">
                    <div class="contact_bot_right_bot_tabel_row_col">Stargard</div>
                    <div class="contact_bot_right_bot_tabel_row_col"></div>
                </div>
                <div class="contact_bot_right_bot_tabel_row">
                    <div class="contact_bot_right_bot_tabel_row_col">Gryfino</div>
                    <div class="contact_bot_right_bot_tabel_row_col"></div>
                </div>
                <div class="contact_bot_right_bot_tabel_row">
                    <div class="contact_bot_right_bot_tabel_row_col">Strasburg</div>
                    <div class="contact_bot_right_bot_tabel_row_col"></div>
                </div>
                <div class="contact_bot_right_bot_tabel_row">
                    <div class="contact_bot_right_bot_tabel_row_col">Berlin</div>
                    <div class="contact_bot_right_bot_tabel_row_col"></div>
                </div>
            </div>
        </div>
    </div>
</section>
