<section class="production_About_production">
    <div class="production_About_production_to">
        <h1 class="production_About_production_title">Galeria zdjęć wyrobów granitowych</h1>
        <div class="production_About_production_section">
            <p class="production_About_production_section_text">Na tej stronie znajdą Państwo galerię zdjęć naszych
                zakończonych
                projektów, gdzie przedstawione są wyroby granitowe, w tym kostka brukowa na różnych obiektach. Można tu
                obejrzeć
                warianty układu kostki brukowej i aranżacji terenów, a także zdjęcia zrealizowanych projektów.</p>
        </div>
        <div class="production_About_production_section">
            <p class="production_About_production_section_text">Oferujemy naszym klientom nie tylko szeroki wybór
                wysokiej jakości materiałów budowlanych i wyrobów granitowych z własnego magazynu, ale także kompleksowe
                usługi w zakresie ich dostawy, przygotowania, montażu i układania.</p>
        </div>
        <div class="production_About_production_section">
            <p class="production_About_production_section_text">Na naszym magazynie zawsze dostępny jest szeroki wybór
                produktów granitowych:</p>
            <div>
                <p class="production_About_production_section_text" style="margin-bottom: 10px;">• Kostka granitowa
                    cięta</p>
                <p class="production_About_production_section_text" style="margin-bottom: 10px;">• Płyty granitowe
                    tarasowe</p>
                <p class="production_About_production_section_text" style="margin-bottom: 10px;">• Płyty granitowe
                    chodnikowe</p>
                <p class="production_About_production_section_text" style="margin-bottom: 10px;">• Parapety granitowe
                    zewnętrzne i wewnętrzne</p>
                <p class="production_About_production_section_text">• Schody granitowe zewnętrzne i wewnętrzne</p>
            </div>
        </div>
        <div class="production_About_production_section">
            <p class="production_About_production_section_text"><div>GARANT - BUD</div> – Twój niezawodny partner w budownictwie i
                aranżacji przestrzeni!</p>
        </div>
    </div>
</section>
