<section class="production_About_production">
    <div class="production_About_production_to">
        <h1 class="production_About_production_title">Галерея фото гранітних виробів</h1>
        <div class="production_About_production_section">
            <p class="production_About_production_section_text">На цій сторінці ви знайдете галерею фото наших
                завершених проєктів, де представлені гранітні вироби, зокрема бруківка на різних об’єктах. Тут можна
                переглянути варіанти укладання бруківки та благоустрою територій, а також фото реалізованих проєктів.</p>
        </div>
        <div class="production_About_production_section">
            <p class="production_About_production_section_text">Ми пропонуємо клієнтам не лише широкий вибір
                високоякісних будівельних матеріалів і гранітних виробів зі складу, а й комплексні послуги з їх доставки,
                підготовки, монтажу та укладання.</p>
        </div>
        <div class="production_About_production_section">
            <p class="production_About_production_section_text">На нашому складі завжди доступний широкий вибір
                гранітної продукції:</p>
            <div>
                <p class="production_About_production_section_text" style="margin-bottom: 10px;">• Пиляна гранітна
                    бруківка</p>
                <p class="production_About_production_section_text" style="margin-bottom: 10px;">• Гранітні терасні
                    плити</p>
                <p class="production_About_production_section_text" style="margin-bottom: 10px;">• Гранітні тротуарні
                    плити</p>
                <p class="production_About_production_section_text" style="margin-bottom: 10px;">• Гранітні підвіконня
                    зовнішні та внутрішні</p>
                <p class="production_About_production_section_text">• Гранітні сходи зовнішні та внутрішні</p>
            </div>
        </div>
        <div class="production_About_production_section">
            <p class="production_About_production_section_text"><div>GARANT - BUD</div> — ваш надійний партнер у будівництві та
                облаштуванні простору!</p>
        </div>
    </div>
</section>
