{% load static %}
<section class="cart_galerea_bloc">
    <div class="cart_galerea_bloc_flex">
        <div class="cart_galerea_bloc_ob">
            <div class="custom-slider-container123">
                <ul id="customLightSlider6" class="customLightSlider">
                    <li data-thumb="{% static '/mysite/img/project/1/photo_2024-10-11_17-57-12.png' %}">
                        <img src="{% static '/mysite/img/project/1/photo_2024-10-11_17-57-12.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/1/photo_2024-10-11_17-57-29-_2_.png' %}">
                        <img src="{% static '/mysite/img/project/1/photo_2024-10-11_17-57-29-_2_.png' %}"/>
                    </li>
                    <!-- Додайте інші елементи слайдера -->
                </ul>
            </div>

            <h1 class="cart_galerea_bloc_ob_title">Територія приватної резиденції</h1>
            <p class="cart_galerea_bloc_ob_text">Благоустрій території приватної резиденції виконано із
                використанням світло-сірого граніту Grey Ukrainian та червоного граніту Maple Red.
                Доріжки викладено гранітними плитами розміром 30×30×3 см та різаною гранітною бруківкою розміром
                20×10×3 см і 10×10×3 см.</p>
            <div class="cart_galerea_bloc_ob_buy">
                {#                <p class="cart_galerea_bloc_ob_buy_left">500 m2</p>#}
                {#                <p class="cart_galerea_bloc_ob_buy_right">м. Київ</p>#}
            </div>
        </div>
        <div class="cart_galerea_bloc_ob">
            <div class="custom-slider-container123">
                <ul id="customLightSlider5" class="customLightSlider">
                    <li data-thumb="{% static '/mysite/img/project/2/1.png' %}">
                        <img src="{% static '/mysite/img/project/2/1.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/2.png' %}">
                        <img src="{% static '/mysite/img/project/2/2.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/3.png' %}">
                        <img src="{% static '/mysite/img/project/2/3.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/4.png' %}">
                        <img src="{% static '/mysite/img/project/2/4.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/5.png' %}">
                        <img src="{% static '/mysite/img/project/2/5.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/6.png' %}">
                        <img src="{% static '/mysite/img/project/2/6.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/7.png' %}">
                        <img src="{% static '/mysite/img/project/2/7.png' %}">
                    </li>

                    <!-- Додайте інші елементи слайдера -->
                </ul>
            </div>

            <h1 class="cart_galerea_bloc_ob_title">Територія приватної резиденції</h1>
            <p class="cart_galerea_bloc_ob_text">Для облаштування території приватної резиденції використано
                світло-сірий граніт Grey Ukrainian.
                Огорожу та фасади будівель на ділянці облицьовано різаною гранітною смугою, що надає архітектурної
                цілісності всьому комплексу.
                Прогулянкові доріжки та терасу викладено гранітними плитами різних розмірів, а сходи також
                виконано зі світло-сірого граніту, що забезпечує довговічність і естетичну гармонію простору.</p>
            <div class="cart_galerea_bloc_ob_buy">
                {#                <p class="cart_galerea_bloc_ob_buy_left">500 m2</p>#}
                {#                <p class="cart_galerea_bloc_ob_buy_right">м. Київ</p>#}
            </div>
        </div>
        <div class="cart_galerea_bloc_ob">
            <div class="custom-slider-container123">
                <ul id="customLightSlider1" class="customLightSlider">
                    <li data-thumb="{% static '/mysite/img/project/3/1.png' %}">
                        <img src="{% static '/mysite/img/project/3/1.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/3/2.png' %}">
                        <img src="{% static '/mysite/img/project/3/2.png' %}"/>
                    </li>
                    <!-- Додайте інші елементи слайдера -->
                </ul>
            </div>

            <h1 class="cart_galerea_bloc_ob_title">Хол офісної будівлі</h1>
            <p class="cart_galerea_bloc_ob_text">Облицювання холу виконано з використанням червоного граніту Maple Red,
                чорного граніту Gabro та світло-сірого граніту Grey Ukrainian.
                Підлогу викладено гранітними плитами червоного кольору (30×30×3 см), різаною гранітною бруківкою
                чорного кольору (20×10×3 см) та світло-сірого (10×10×3 см).
                Стіни оздоблено гранітними плитами світло-сірого кольору (60×30×3 см), що надає інтер’єру солідного та
                елегантного вигляду.</p>
            <div class="cart_galerea_bloc_ob_buy">
                {#                <p class="cart_galerea_bloc_ob_buy_left">500 m2</p>#}
                {#                <p class="cart_galerea_bloc_ob_buy_right">м. Київ</p>#}
            </div>
        </div>
        <div class="cart_galerea_bloc_ob">
            <div class="custom-slider-container123">
                <ul id="customLightSlider2" class="customLightSlider">
                    <li data-thumb="{% static '/mysite/img/project/4/1.png' %}">
                        <img src="{% static '/mysite/img/project/4/1.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/4/2.png' %}">
                        <img src="{% static '/mysite/img/project/4/2.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/4/3.png' %}">
                        <img src="{% static '/mysite/img/project/4/3.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/4/4.png' %}">
                        <img src="{% static '/mysite/img/project/4/4.png' %}">
                    </li>

                    <!-- Додайте інші елементи слайдера -->
                </ul>
            </div>

            <h1 class="cart_galerea_bloc_ob_title">Територія навколо храму</h1>
            <p class="cart_galerea_bloc_ob_text">Благоустрій території навколо храму виконано із застосуванням
                світло-сірого граніту Grey Ukrainian та темно-сірого граніту Gabro.
                Доріжки викладено гранітними плитами (30×30×3 см) і різаною гранітною бруківкою темно-сірого кольору
                (20×10×3 см), що забезпечує довговічність покриття та гармоніює з архітектурним стилем храму.</p>
            <div class="cart_galerea_bloc_ob_buy">
                {#                <p class="cart_galerea_bloc_ob_buy_left">500 m2</p>#}
                {#                <p class="cart_galerea_bloc_ob_buy_right">м. Київ</p>#}
            </div>
        </div>
        <div class="cart_galerea_bloc_ob">
            <div class="custom-slider-container123">
                <ul id="customLightSlider2" class="customLightSlider">
                    <li data-thumb="{% static '/mysite/img/project/5/1.png' %}">
                        <img src="{% static '/mysite/img/project/5/1.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/5/2.png' %}">
                        <img src="{% static '/mysite/img/project/5/2.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/5/3.png' %}">
                        <img src="{% static '/mysite/img/project/5/3.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/5/4.png' %}">
                        <img src="{% static '/mysite/img/project/5/4.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/5/5.png' %}">
                        <img src="{% static '/mysite/img/project/5/5.png' %}">
                    </li>
                    <!-- Додайте інші елементи слайдера -->
                </ul>
            </div>

            <h1 class="cart_galerea_bloc_ob_title">Огорожа території храму</h1>
            <p class="cart_galerea_bloc_ob_text">Територію храму облаштовано з використанням світло-сірого граніту
                Grey Ukrainian, який надає простору вишуканості та елегантності. Огорожа виконана з гранітної бруківки
                (20×10×3 см), що підкреслює витончений характер, а між стовпами встановлені металеві секції сірого
                кольору, які додають сучасності та гармонійно поєднуються з архітектурою храму. Доріжки викладено
                термообробленими гранітними плитами розміром 30×30×3 см і 60×30×3 см.</p>
            <div class="cart_galerea_bloc_ob_buy">
                {#                <p class="cart_galerea_bloc_ob_buy_left">500 m2</p>#}
                {#                <p class="cart_galerea_bloc_ob_buy_right">м. Київ</p>#}
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Завантаження LightSlider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>
<script>
    $(document).ready(function () {
        // Ініціалізація LightSlider для кожного слайдера
        $('.customLightSlider').each(function (index, element) {
            $(element).lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem: 9
            });
        });
    });
</script>
