{% load static %}
<section class="cart_galerea_bloc">
    <div class="cart_galerea_bloc_flex">
        <div class="cart_galerea_bloc_ob">
            <div class="custom-slider-container123">
                <ul id="customLightSlider6" class="customLightSlider">
                    <li data-thumb="{% static '/mysite/img/project/1/photo_2024-10-11_17-57-12.png' %}">
                        <img src="{% static '/mysite/img/project/1/photo_2024-10-11_17-57-12.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/1/photo_2024-10-11_17-57-29-_2_.png' %}">
                        <img src="{% static '/mysite/img/project/1/photo_2024-10-11_17-57-29-_2_.png' %}"/>
                    </li>
                    <!-- Dodaj inne elementy suwaka -->
                </ul>
            </div>

            <h1 class="cart_galerea_bloc_ob_title">Teren prywatnej rezydencji</h1>
            <p class="cart_galerea_bloc_ob_text">Zagospodarowanie terenu prywatnej rezydencji zostało wykonane z
                wykorzystaniem jasnoszarego granitu Grey Ukrainian oraz czerwonego granitu Maple Red.
                Chodniki wyłożono płytami granitowymi o wymiarach 30×30×3 cm oraz ciętą kostką granitową o wymiarach
                20×10×3 cm i 10×10×3 cm</p>
            <div class="cart_galerea_bloc_ob_buy">
                {#                <p class="cart_galerea_bloc_ob_buy_left">500 m2</p>#}
                {#                <p class="cart_galerea_bloc_ob_buy_right">m. Kijów</p>#}
            </div>
        </div>
        <div class="cart_galerea_bloc_ob">
            <div class="custom-slider-container123">
                <ul id="customLightSlider5" class="customLightSlider">
                    <li data-thumb="{% static '/mysite/img/project/2/1.png' %}">
                        <img src="{% static '/mysite/img/project/2/1.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/2.png' %}">
                        <img src="{% static '/mysite/img/project/2/2.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/3.png' %}">
                        <img src="{% static '/mysite/img/project/2/3.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/4.png' %}">
                        <img src="{% static '/mysite/img/project/2/4.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/5.png' %}">
                        <img src="{% static '/mysite/img/project/2/5.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/6.png' %}">
                        <img src="{% static '/mysite/img/project/2/6.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/2/7.png' %}">
                        <img src="{% static '/mysite/img/project/2/7.png' %}">
                    </li>

                    <!-- Dodaj inne elementy suwaka -->
                </ul>
            </div>

            <h1 class="cart_galerea_bloc_ob_title">Teren prywatnej rezydencji</h1>
            <p class="cart_galerea_bloc_ob_text">Do aranżacji terenu prywatnej rezydencji wykorzystano jasnoszary granit
                Grey Ukrainian.
                Ogrodzenie i fasady budynków na działce zostały wyłożone ciętym pasem granitowym, co nadaje spójność
                architektoniczną całemu założeniu.
                Ścieżki spacerowe oraz taras wyłożono płytami granitowymi o różnych rozmiarach, a schody również
                wykonano z jasnoszarego granitu, co zapewnia trwałość i estetyczną harmonię przestrzeni.</p>
            <div class="cart_galerea_bloc_ob_buy">
                {#                <p class="cart_galerea_bloc_ob_buy_left">500 m2</p>#}
                {#                <p class="cart_galerea_bloc_ob_buy_right">m. Kijów</p>#}
            </div>
        </div>
        <div class="cart_galerea_bloc_ob">
            <div class="custom-slider-container123">
                <ul id="customLightSlider1" class="customLightSlider">
                    <li data-thumb="{% static '/mysite/img/project/3/1.png' %}">
                        <img src="{% static '/mysite/img/project/3/1.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/3/2.png' %}">
                        <img src="{% static '/mysite/img/project/3/2.png' %}"/>
                    </li>
                    <!-- Dodaj inne elementy suwaka -->
                </ul>
            </div>

            <h1 class="cart_galerea_bloc_ob_title">Hol budynku biurowego</h1>
            <p class="cart_galerea_bloc_ob_text">Okładzina holu została wykonana z użyciem czerwonego granitu Maple Red,
                czarnego granitu Gabro oraz jasnoszarego granitu Grey Ukrainian.
                Podłoga wyłożona jest płytami granitowymi w kolorze czerwonym (30×30×3 cm), ciętą kostką granitową w
                kolorze czarnym (20×10×3 cm) oraz jasnoszarym (10×10×3 cm).
                Ściany wykończono płytami granitowymi w kolorze jasnoszarym (60×30×3 cm), co nadaje wnętrzu solidny i
                elegancki charakter.</p>
            <div class="cart_galerea_bloc_ob_buy">
                {#                <p class="cart_galerea_bloc_ob_buy_left">500 m2</p>#}
                {#                <p class="cart_galerea_bloc_ob_buy_right">m. Kijów</p>#}
            </div>
        </div>
        <div class="cart_galerea_bloc_ob">
            <div class="custom-slider-container123">
                <ul id="customLightSlider2" class="customLightSlider">
                    <li data-thumb="{% static '/mysite/img/project/4/1.png' %}">
                        <img src="{% static '/mysite/img/project/4/1.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/4/2.png' %}">
                        <img src="{% static '/mysite/img/project/4/2.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/4/3.png' %}">
                        <img src="{% static '/mysite/img/project/4/3.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/4/4.png' %}">
                        <img src="{% static '/mysite/img/project/4/4.png' %}">
                    </li>

                    <!-- Dodaj inne elementy suwaka -->
                </ul>
            </div>

            <h1 class="cart_galerea_bloc_ob_title">Teren wokół świątyni</h1>
            <p class="cart_galerea_bloc_ob_text">Zagospodarowanie terenu wokół świątyni zostało wykonane przy użyciu
                jasnoszarego granitu Grey Ukrainian oraz ciemnoszarego granitu Gabro.
                Chodniki wyłożono płytami granitowymi (30×30×3 cm) oraz ciętą kostką granitową w kolorze ciemnoszarym
                (20×10×3 cm), co zapewnia trwałość nawierzchni i harmonizuje z architektonicznym stylem świątyni.</p>
            <div class="cart_galerea_bloc_ob_buy">
                {#                <p class="cart_galerea_bloc_ob_buy_left">500 m2</p>#}
                {#                <p class="cart_galerea_bloc_ob_buy_right">m. Kijów</p>#}
            </div>
        </div>
        <div class="cart_galerea_bloc_ob">
            <div class="custom-slider-container123">
                <ul id="customLightSlider2" class="customLightSlider">
                    <li data-thumb="{% static '/mysite/img/project/5/1.png' %}">
                        <img src="{% static '/mysite/img/project/5/1.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/5/2.png' %}">
                        <img src="{% static '/mysite/img/project/5/2.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/5/3.png' %}">
                        <img src="{% static '/mysite/img/project/5/3.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/5/4.png' %}">
                        <img src="{% static '/mysite/img/project/5/4.png' %}">
                    </li>
                    <li data-thumb="{% static '/mysite/img/project/5/5.png' %}">
                        <img src="{% static '/mysite/img/project/5/5.png' %}">
                    </li>
                    <!-- Dodaj inne elementy suwaka -->
                </ul>
            </div>

            <h1 class="cart_galerea_bloc_ob_title">Ogrodzenie terenu świątyni</h1>
            <p class="cart_galerea_bloc_ob_text">Teren świątyni został zagospodarowany z wykorzystaniem jasnoszarego
                granitu Grey Ukrainian, który nadaje przestrzeni subtelność i elegancję. Ogrodzenie wykonane jest z
                granitowych kostek brukowych (20×10×3 cm), podkreślających wysmakowany charakter, a pomiędzy słupami
                zamontowane są metalowe sekcje w kolorze szarym, które dodają nowoczesności i harmonijnie współgrają z
                architekturą świątyni. Chodniki wyłożone są termicznie obrabianymi płytami granitowymi o wymiarach
                30×30×3 cm i 60×30×3 cm.</p>
            <div class="cart_galerea_bloc_ob_buy">
                {#                <p class="cart_galerea_bloc_ob_buy_left">500 m2</p>#}
                {#                <p class="cart_galerea_bloc_ob_buy_right">m. Kijów</p>#}
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Ładowanie LightSlider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>
<script>
    $(document).ready(function () {
        // Inicjalizacja LightSlider dla każdego suwaka
        $('.customLightSlider').each(function (index, element) {
            $(element).lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem: 9
            });
        });
    });
</script>
